
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>ConstraintViolationBuilderInterface - Symfony 4.1 - W3cubDocs</title>
  
  <meta name="description" content=" interface ConstraintViolationBuilderInterface ">
  <meta name="keywords" content="constraintviolationbuilderinterface, symfony, symfony~4.1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/symfony~4.1/symfony/component/validator/violation/constraintviolationbuilderinterface.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-01fda2ddb8339756caccf7add5ad4cf849ab52d069bd799015c7f04f93164f64753bff0d15a49d8060b1e66e41002bb301ccadc2350937df079cea3cd52d3cca.css">
  <script src="/assets/application-d9be6f56a823612443fc15b2e027a630e02c4ad2685bb750d13fa4fae28d46c3e7f7ebb69bd4bafddf116f218f9372e9be44021d4247dc20424e2fd1ff8cef81.js" type="text/javascript"></script>
  <script src="/json/symfony~4.1.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script data-ad-client="ca-pub-2572770204602497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~4.1/" class="_nav-link" title="" style="margin-left:0;">Symfony 4.1</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _laravel">
				
				
<h1> ConstraintViolationBuilderInterface </h1> <p> interface <strong>ConstraintViolationBuilderInterface</strong> </p> <div class="description"> <p>Builds {@link \Symfony\Component\Validator\ConstraintViolationInterface} objects.</p> <p>Use the various methods on this interface to configure the built violation. Finally, call {@link addViolation()} to add the violation to the current execution context.</p> </div> <h2>Methods</h2> <table> <tr> <td> $this </td> <td> <a href="#method_atPath">atPath</a>(string $path) <p>Stores the property path at which the violation should be generated.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setParameter">setParameter</a>(string $key, string $value) <p>Sets a parameter to be inserted into the violation message.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setParameters">setParameters</a>(array $parameters) <p>Sets all parameters to be inserted into the violation message.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setTranslationDomain">setTranslationDomain</a>(string $translationDomain) <p>Sets the translation domain which should be used for translating the violation message.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setInvalidValue">setInvalidValue</a>(mixed $invalidValue) <p>Sets the invalid value that caused this violation.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setPlural">setPlural</a>(int $number) <p>Sets the number which determines how the plural form of the violation message is chosen when it is translated.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setCode">setCode</a>(string|null $code) <p>Sets the violation code.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setCause">setCause</a>(mixed $cause) <p>Sets the cause of the violation.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addViolation">addViolation</a>() <p>Adds the violation to the current execution context.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_atPath">                      $this
    atPath(string $path)
         </h3>   <p>Stores the property path at which the violation should be generated.</p> <p>The passed path will be appended to the current property path of the execution context.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$path</td> <td>The property path</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setParameter">                      $this
    setParameter(string $key, string $value)
         </h3>   <p>Sets a parameter to be inserted into the violation message.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$key</td> <td>The name of the parameter</td> </tr> <tr> <td>string</td> <td>$value</td> <td>The value to be inserted in the parameter's place</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setParameters">                      $this
    setParameters(array $parameters)
         </h3>   <p>Sets all parameters to be inserted into the violation message.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$parameters</td> <td>An array with the parameter names as keys and the values to be inserted in their place as values</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setTranslationDomain">                      $this
    setTranslationDomain(string $translationDomain)
         </h3>   <p>Sets the translation domain which should be used for translating the violation message.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$translationDomain</td> <td>The translation domain</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="../../translation/translatorinterface" title="Symfony\Component\Translation\TranslatorInterface">TranslatorInterface</a> </td> <td></td> </tr> </table>     <h3 id="method_setInvalidValue">                      $this
    setInvalidValue(mixed $invalidValue)
         </h3>   <p>Sets the invalid value that caused this violation.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td>$invalidValue</td> <td>The invalid value</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setPlural">                      $this
    setPlural(int $number)
         </h3>   <p>Sets the number which determines how the plural form of the violation message is chosen when it is translated.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>int</td> <td>$number</td> <td>The number for determining the plural form</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="../../translation/translatorinterface#method_transChoice" title="Symfony\Component\Translation\TranslatorInterface">TranslatorInterface::transChoice</a> </td> <td></td> </tr> </table>     <h3 id="method_setCode">                      $this
    setCode(string|null $code)
         </h3>   <p>Sets the violation code.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|null</td> <td>$code</td> <td>The violation code</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setCause">                      $this
    setCause(mixed $cause)
         </h3>   <p>Sets the cause of the violation.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td>$cause</td> <td>The cause of the violation</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_addViolation">                      
    addViolation()
         </h3>   <p>Adds the violation to the current execution context.</p>      </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Validator/Violation/ConstraintViolationBuilderInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Validator/Violation/ConstraintViolationBuilderInterface.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
