
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>FileProfilerStorage - Symfony 4.1 - W3cubDocs</title>
  
  <meta name="description" content=" class FileProfilerStorage implements ProfilerStorageInterface ">
  <meta name="keywords" content="fileprofilerstorage, symfony, symfony~4.1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/symfony~4.1/symfony/component/httpkernel/profiler/fileprofilerstorage.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-01fda2ddb8339756caccf7add5ad4cf849ab52d069bd799015c7f04f93164f64753bff0d15a49d8060b1e66e41002bb301ccadc2350937df079cea3cd52d3cca.css">
  <script src="/assets/application-d9be6f56a823612443fc15b2e027a630e02c4ad2685bb750d13fa4fae28d46c3e7f7ebb69bd4bafddf116f218f9372e9be44021d4247dc20424e2fd1ff8cef81.js" type="text/javascript"></script>
  <script src="/json/symfony~4.1.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script data-ad-client="ca-pub-2572770204602497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~4.1/" class="_nav-link" title="" style="margin-left:0;">Symfony 4.1</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _laravel">
				
				
<h1> FileProfilerStorage </h1> <p> class <strong>FileProfilerStorage</strong> implements <a href="profilerstorageinterface" title="Symfony\Component\HttpKernel\Profiler\ProfilerStorageInterface">ProfilerStorageInterface</a> </p> <div class="description"> <p>Storage for profiler using files.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string $dsn) <p>Constructs the file storage using a "dsn-like" path.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_find">find</a>(string $ip, string $url, string $limit, string $method, int|null $start = null, int|null $end = null, $statusCode = null) <p>Finds profiler tokens for the given criteria.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_purge">purge</a>() <p>Purges all data from the database.</p> </td> <td></td>
</tr>  <tr> <td> <a href="profile" title="Symfony\Component\HttpKernel\Profiler\Profile">Profile</a> </td> <td> <a href="#method_read">read</a>(string $token) <p>Reads data associated with the given token.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_write">write</a>(<a href="profile" title="Symfony\Component\HttpKernel\Profiler\Profile">Profile</a> $profile) <p>Saves a Profile.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getFilename">getFilename</a>(string $token) <p>Gets filename to store data, associated to the token.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getIndexFilename">getIndexFilename</a>() <p>Gets the index filename.</p> </td> <td></td>
</tr>  <tr> <td> mixed </td> <td> <a href="#method_readLineFromFile">readLineFromFile</a>(resource $file) <p>Reads a line in the file, backward.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_createProfileFromData">createProfileFromData</a>($token, $data, $parent = null)  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string $dsn)
         </h3>   <p>Constructs the file storage using a "dsn-like" path.</p> <p>Example : "file:/path/to/the/storage/folder"</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$dsn</td> <td></td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/RuntimeException">RuntimeException</a></td> <td></td> </tr> </table>     <h3 id="method_find">                      array
    find(string $ip, string $url, string $limit, string $method, int|null $start = null, int|null $end = null, $statusCode = null)
         </h3>   <p>Finds profiler tokens for the given criteria.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$ip</td> <td>The IP</td> </tr> <tr> <td>string</td> <td>$url</td> <td>The URL</td> </tr> <tr> <td>string</td> <td>$limit</td> <td>The maximum number of tokens to return</td> </tr> <tr> <td>string</td> <td>$method</td> <td>The request method</td> </tr> <tr> <td>int|null</td> <td>$start</td> <td>The start date to search from</td> </tr> <tr> <td>int|null</td> <td>$end</td> <td>The end date to search to</td> </tr> <tr> <td></td> <td>$statusCode</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>An array of tokens</td> </tr> </table>     <h3 id="method_purge">                      
    purge()
         </h3>   <p>Purges all data from the database.</p>       <h3 id="method_read">                      <a href="profile" title="Symfony\Component\HttpKernel\Profiler\Profile">Profile</a>
    read(string $token)
         </h3>   <p>Reads data associated with the given token.</p> <p>The method returns false if the token does not exist in the storage.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$token</td> <td>A token</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="profile" title="Symfony\Component\HttpKernel\Profiler\Profile">Profile</a></td> <td>The profile associated with token</td> </tr> </table>     <h3 id="method_write">                      bool
    write(<a href="profile" title="Symfony\Component\HttpKernel\Profiler\Profile">Profile</a> $profile)
         </h3>   <p>Saves a Profile.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="profile" title="Symfony\Component\HttpKernel\Profiler\Profile">Profile</a></td> <td>$profile</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>Write operation successful</td> </tr> </table>     <h3 id="method_getFilename">              protected        string
    getFilename(string $token)
         </h3>   <p>Gets filename to store data, associated to the token.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$token</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The profile filename</td> </tr> </table>     <h3 id="method_getIndexFilename">              protected        string
    getIndexFilename()
         </h3>   <p>Gets the index filename.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The index filename</td> </tr> </table>     <h3 id="method_readLineFromFile">              protected        mixed
    readLineFromFile(resource $file)
         </h3>   <p>Reads a line in the file, backward.</p> <p>This function automatically skips the empty lines and do not include the line return in result value.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>resource</td> <td>$file</td> <td>The file resource, with the pointer placed at the end of the line to read</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td>A string representing the line or null if beginning of file is reached</td> </tr> </table>     <h3 id="method_createProfileFromData">              protected        
    createProfileFromData($token, $data, $parent = null)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$token</td> <td></td> </tr> <tr> <td></td> <td>$data</td> <td></td> </tr> <tr> <td></td> <td>$parent</td> <td></td> </tr> </table>    </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/HttpKernel/Profiler/FileProfilerStorage.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/HttpKernel/Profiler/FileProfilerStorage.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
