
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Passing Properties to a Component - Ember.js - W3cubDocs</title>
  
  <meta name="description" content=" Components are isolated from their surroundings, so any data that the component needs has to be passed in. ">
  <meta name="keywords" content="passing, properties, component, ember, js">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/ember/components/passing-properties-to-a-component.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-e498cd0ebe8746846fec95b1a53ab3bb0fb7f47f794f0a38f44c98a1f0d03b21d777ae2c583732e44a5a890f6eacb79a5333545db9d5f3616091ba21ca17d916.css">
  <script src="/assets/application-79c555f6b25481fffac2cac30a7f3e54e608ca09e9e8e42bb1790095ba6d0fcace47d6bc624ddce952c70370892f2d46864f89e6943d4f7f7ff16c8a3231a91a.js" type="text/javascript"></script>
  <script src="/json/ember.js"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R3WC07G3GB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-R3WC07G3GB');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2572770204602497"
     crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/ember/" class="_nav-link" title="" style="margin-left:0;">Ember.js</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _ember">
				
				
<h1> Passing Properties to a Component  </h1>  <p>Components are isolated from their surroundings, so any data that the component needs has to be passed in.</p> <p>For example, imagine you have a <code>blog-post</code> component that is used to display a blog post:</p> <div class="pre-title"><code>app/templates/components/blog-post.hbs</code></div>
<pre class="highlight handlebars " data-language="html">&lt;article class="blog-post"&gt;
  &lt;h1&gt;{{title}}&lt;/h1&gt;
  &lt;p&gt;{{body}}&lt;/p&gt;
&lt;/article&gt;
</pre> <p>Now imagine we have the following template and route:</p> <div class="pre-title"><code>app/routes/index.js</code></div>
<pre class="highlight javascript " data-language="javascript">import Ember from 'ember';

export default Ember.Route.extend({
  model() {
    return this.get('store').findAll('post');
  }
});
</pre> <p>If we tried to use the component like this:</p> <div class="pre-title"><code>app/templates/index.hbs</code></div>
<pre class="highlight handlebars " data-language="html">{{#each model as |post|}}
  {{blog-post}}
{{/each}}
</pre> <p>The following HTML would be rendered:</p> <pre class="highlight html " data-language="html">&lt;article class="blog-post"&gt;
  &lt;h1&gt;&lt;/h1&gt;
  &lt;p&gt;&lt;/p&gt;
&lt;/article&gt;
</pre> <p>In order to make a property available to a component, you must pass it in like this:</p> <div class="pre-title"><code>app/templates/index.hbs</code></div>
<pre class="highlight handlebars " data-language="html">{{#each model as |post|}}
  {{blog-post title=post.title body=post.body}}
{{/each}}
</pre> <p>It is important to note that these properties stay in sync (technically known as being "bound"). That is, if the value of <code>componentProperty</code> changes in the component, <code>outerProperty</code> will be updated to reflect that change. The reverse is true as well.</p> <h2 class="anchorable-toc" id="toc_positional-params">Positional Params</h2> <p>In addition to passing parameters in by name, you can pass them in by position. In other words, you can invoke the above component example like this:</p> <div class="pre-title"><code>app/templates/index.hbs</code></div>
<pre class="highlight handlebars " data-language="html">{{#each model as |post|}}
  {{blog-post post.title post.body}}
{{/each}}
</pre> <p>To set the component up to receive parameters this way, you need to set the <a href="http://emberjs.com/api/classes/Ember.Component.html#property_positionalParams"><code>positionalParams</code></a> attribute in your component class.</p> <div class="pre-title"><code>app/components/blog-post.js</code></div>
<pre class="highlight javascript " data-language="javascript">import Ember from 'ember';

const BlogPostComponent = Ember.Component.extend({});

BlogPostComponent.reopenClass({
  positionalParams: ['title', 'body']
});

export default BlogPostComponent;
</pre> <p>Then you can use the attributes in the component exactly as if they had been passed in like <code>{{blog-post title=post.title body=post.body}}</code>.</p> <p>Notice that the <code>positionalParams</code> property is added to the class as a static variable via <code>reopenClass</code>. Positional params are always declared on the component class and cannot be changed while an application runs.</p> <p>Alternatively, you can accept an arbitrary number of parameters by setting <code>positionalParams</code> to a string, e.g. <code>positionalParams: 'params'</code>. This will allow you to access those params as an array like so:</p> <div class="pre-title"><code>app/components/blog-post.js</code></div>
<pre class="highlight javascript " data-language="javascript">import Ember from 'ember';

const BlogPostComponent = Ember.Component.extend({
  title: Ember.computed('params.[]', function(){
    return this.get('params')[0];
  }),
  body: Ember.computed('params.[]', function(){
    return this.get('params')[1];
  })
});

BlogPostComponent.reopenClass({
  positionalParams: 'params'
});

export default BlogPostComponent;
</pre> <div class="_attribution">
  <p class="_attribution-p">
    © 2017 Yehuda Katz, Tom Dale and Ember.js contributors<br>Licensed under the MIT License.<br>
    <a href="https://guides.emberjs.com/v2.15.0/components/passing-properties-to-a-component" class="_attribution-link">https://guides.emberjs.com/v2.15.0/components/passing-properties-to-a-component</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
