
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>19. Fallthrough Attributes (Components In-Depth) - Vue.js 3 - W3cubDocs</title>
  
  <meta name="description" content=" This page assumes you&#39;ve already read the Components Basics. Read that first if you are new to components. ">
  <meta name="keywords" content="fallthrough, attributes, components, in-depth, vue, js, vue~3">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/vue~3/guide/components/attrs.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-1810d67ab7e57be09d8247710d2feb6954566959eb82322d1fee3a0c9156f56974b78ebaa9928774f00767342bbe58b0799d91fcc336b92b319170b196f9b64b.css">
  <script src="/assets/application-79c555f6b25481fffac2cac30a7f3e54e608ca09e9e8e42bb1790095ba6d0fcace47d6bc624ddce952c70370892f2d46864f89e6943d4f7f7ff16c8a3231a91a.js" type="text/javascript"></script>
  <script src="/json/vue~3.js"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R3WC07G3GB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-R3WC07G3GB');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2572770204602497"
     crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/vue~3/" class="_nav-link" title="" style="margin-left:0;">Vue.js 3</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _vue">
				
				
<h1 id="fallthrough-attributes" tabindex="-1">Fallthrough Attributes </h1>
<blockquote><p>This page assumes you've already read the <a href="../essentials/component-basics">Components Basics</a>. Read that first if you are new to components.</p></blockquote>
<h2 id="attribute-inheritance" tabindex="-1">Attribute Inheritance </h2>
<p>A "fallthrough attribute" is an attribute or <code>v-on</code> event listener that is passed to a component, but is not explicitly declared in the receiving component's <a href="props">props</a> or <a href="events#declaring-emitted-events">emits</a>. Common examples of this include <code>class</code>, <code>style</code>, and <code>id</code> attributes.</p>
<p>When a component renders a single root element, fallthrough attributes will be automatically added to the root element's attributes. For example, given a <code>&lt;MyButton&gt;</code> component with the following template:</p>
<pre data-language="javascript">&lt;!-- template of &lt;MyButton&gt; --&gt;
&lt;button&gt;click me&lt;/button&gt;</pre>
<p>And a parent using this component with:</p>
<pre data-language="javascript">&lt;MyButton class="large" /&gt;</pre>
<p>The final rendered DOM would be:</p>
<pre data-language="html">&lt;button class="large"&gt;click me&lt;/button&gt;</pre>
<p>Here, <code>&lt;MyButton&gt;</code> did not declare <code>class</code> as an accepted prop. Therefore, <code>class</code> is treated as a fallthrough attribute and automatically added to <code>&lt;MyButton&gt;</code>'s root element.</p>
<h3 id="class-and-style-merging" tabindex="-1">
<code>class</code> and <code>style</code> Merging </h3>
<p>If the child component's root element already has existing <code>class</code> or <code>style</code> attributes, it will be merged with the <code>class</code> and <code>style</code> values that are inherited from the parent. Suppose we change the template of <code>&lt;MyButton&gt;</code> in the previous example to:</p>
<pre data-language="javascript">&lt;!-- template of &lt;MyButton&gt; --&gt;
&lt;button class="btn"&gt;click me&lt;/button&gt;</pre>
<p>Then the final rendered DOM would now become:</p>
<pre data-language="html">&lt;button class="btn large"&gt;click me&lt;/button&gt;</pre>
<h3 id="v-on-listener-inheritance" tabindex="-1">
<code>v-on</code> Listener Inheritance </h3>
<p>The same rule applies to <code>v-on</code> event listeners:</p>
<pre data-language="javascript">&lt;MyButton @click="onClick" /&gt;</pre>
<p>The <code>click</code> listener will be added to the root element of <code>&lt;MyButton&gt;</code>, i.e. the native <code>&lt;button&gt;</code> element. When the native <code>&lt;button&gt;</code> is clicked, it will trigger the <code>onClick</code> method of the parent component. If the native <code>&lt;button&gt;</code> already has a <code>click</code> listener bound with <code>v-on</code>, then both listeners will trigger.</p>
<h3 id="nested-component-inheritance" tabindex="-1">Nested Component Inheritance </h3>
<p>If a component renders another component as its root node, for example, we refactored <code>&lt;MyButton&gt;</code> to render a <code>&lt;BaseButton&gt;</code> as its root:</p>
<pre data-language="javascript">&lt;!-- template of &lt;MyButton/&gt; that simply renders another component --&gt;
&lt;BaseButton /&gt;</pre>
<p>Then the fallthrough attributes received by <code>&lt;MyButton&gt;</code> will be automatically forwarded to <code>&lt;BaseButton&gt;</code>.</p>
<p>Note that:</p>
<ol>
<li><p>Forwarded attributes do not include any attributes that are declared as props, or <code>v-on</code> listeners of declared events by <code>&lt;MyButton&gt;</code> - in other words, the declared props and listeners have been "consumed" by <code>&lt;MyButton&gt;</code>.</p></li>
<li><p>Forwarded attributes may be accepted as props by <code>&lt;BaseButton&gt;</code>, if declared by it.</p></li>
</ol>
<h2 id="disabling-attribute-inheritance" tabindex="-1">Disabling Attribute Inheritance </h2>
<p>If you do <strong>not</strong> want a component to automatically inherit attributes, you can set <code>inheritAttrs: false</code> in the component's options.</p>
<div class="composition-api">
<p>If using <code>&lt;script setup&gt;</code>, you will need to declare this option using a separate, normal <code>&lt;script&gt;</code> block:</p>
<pre data-language="javascript">&lt;script&gt;
// use normal &lt;script&gt; to declare options
export default {
  inheritAttrs: false
}
&lt;/script&gt;

&lt;script setup&gt;
// ...setup logic
&lt;/script&gt;</pre>
</div>
<p>The common scenario for disabling attribute inheritance is when attributes need to be applied to other elements besides the root node. By setting the <code>inheritAttrs</code> option to <code>false</code>, you can take full control over where the fallthrough attributes should be applied.</p>
<p>These fallthrough attributes can be accessed directly in template expressions as <code>$attrs</code>:</p>
<pre data-language="javascript">&lt;span&gt;Fallthrough attributes: {{ $attrs }}&lt;/span&gt;</pre>
<p>The <code>$attrs</code> object includes all attributes that are not declared by the component's <code>props</code> or <code>emits</code> options (e.g., <code>class</code>, <code>style</code>, <code>v-on</code> listeners, etc.).</p>
<p>Some notes:</p>
<ul>
<li><p>Unlike props, fallthrough attributes preserve their original casing in JavaScript, so an attribute like <code>foo-bar</code> needs to be accessed as <code>$attrs['foo-bar']</code>.</p></li>
<li><p>A <code>v-on</code> event listener like <code>@click</code> will be exposed on the object as a function under <code>$attrs.onClick</code>.</p></li>
</ul>
<p>Using our <code>&lt;MyButton&gt;</code> component example from the <a href="#attribute-inheritance">previous section</a> - sometimes we may need to wrap the actual <code>&lt;button&gt;</code> element with an extra <code>&lt;div&gt;</code> for styling purposes:</p>
<pre data-language="javascript">&lt;div class="btn-wrapper"&gt;
  &lt;button class="btn"&gt;click me&lt;/button&gt;
&lt;/div&gt;</pre>
<p>We want all fallthrough attributes like <code>class</code> and <code>v-on</code> listeners to be applied to the inner <code>&lt;button&gt;</code>, not the outer <code>&lt;div&gt;</code>. We can achieve this with <code>inheritAttrs: false</code> and <code>v-bind="$attrs"</code>:</p>
<pre data-language="javascript">&lt;div class="btn-wrapper"&gt;
  &lt;button class="btn" v-bind="$attrs"&gt;click me&lt;/button&gt;
&lt;/div&gt;</pre>
<p>Remember that <a href="../essentials/template-syntax#dynamically-binding-multiple-attributes"><code>v-bind</code> without an argument</a> binds all the properties of an object as attributes of the target element.</p>
<h2 id="attribute-inheritance-on-multiple-root-nodes" tabindex="-1">Attribute Inheritance on Multiple Root Nodes </h2>
<p>Unlike components with a single root node, components with multiple root nodes do not have an automatic attribute fallthrough behavior. If <code>$attrs</code> are not bound explicitly, a runtime warning will be issued.</p>
<pre data-language="javascript">&lt;CustomLayout id="custom-layout" @click="changeValue" /&gt;</pre>
<p>If <code>&lt;CustomLayout&gt;</code> has the following multi-root template, there will be a warning because Vue cannot be sure where to apply the fallthrough attributes:</p>
<pre data-language="javascript">&lt;header&gt;...&lt;/header&gt;
&lt;main&gt;...&lt;/main&gt;
&lt;footer&gt;...&lt;/footer&gt;</pre>
<p>The warning will be suppressed if <code>$attrs</code> is explicitly bound:</p>
<pre data-language="javascript">&lt;header&gt;...&lt;/header&gt;
&lt;main v-bind="$attrs"&gt;...&lt;/main&gt;
&lt;footer&gt;...&lt;/footer&gt;</pre>
<h2 id="accessing-fallthrough-attributes-in-javascript" tabindex="-1">Accessing Fallthrough Attributes in JavaScript </h2>
<div class="composition-api">
<p>If needed, you can access a component's fallthrough attributes in <code>&lt;script setup&gt;</code> using the <code>useAttrs()</code> API:</p>
<pre data-language="javascript">&lt;script setup&gt;
import { useAttrs } from 'vue'

const attrs = useAttrs()
&lt;/script&gt;</pre>
<p>If not using <code>&lt;script setup&gt;</code>, <code>attrs</code> will be exposed as a property of the <code>setup()</code> context:</p>
<pre data-language="js">export default {
  setup(props, ctx) {
    // fallthrough attributes are exposed as ctx.attrs
    console.log(ctx.attrs)
  }
}</pre>
<p>Note that although the <code>attrs</code> object here always reflects the latest fallthrough attributes, it isn't reactive (for performance reasons). You cannot use watchers to observe its changes. If you need reactivity, use a prop. Alternatively, you can use <code>onUpdated()</code> to perform side effects with the latest <code>attrs</code> on each update.</p>
</div>
<div class="options-api">
<p>If needed, you can access a component's fallthrough attributes via the <code>$attrs</code> instance property:</p>
<pre data-language="js">export default {
  created() {
    console.log(this.$attrs)
  }
}</pre>
</div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2013–present Yuxi Evan You<br>Licensed under the MIT License.<br>
    <a href="https://vuejs.org/guide/components/attrs.html" class="_attribution-link">https://vuejs.org/guide/components/attrs.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
