
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>17. Props (Components In-Depth) - Vue 3 - W3cubDocs</title>
  
  <meta name="description" content=" This page assumes you&#39;ve already read the Components Basics. Read that first if you are new to components. ">
  <meta name="keywords" content="props, components, in-depth, vue, vue~3">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/vue~3/guide/components/props.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-9c7b0d969c0ce639a6c01c2badcdd81667c7c66206aa3d0fccc5cb0585fb1b912dab72ea882101d18010680927514b4b77b107282db8f756fbf63301fe9c88b0.css">
  <script type="text/javascript" src="/assets/application-79c555f6b25481fffac2cac30a7f3e54e608ca09e9e8e42bb1790095ba6d0fcace47d6bc624ddce952c70370892f2d46864f89e6943d4f7f7ff16c8a3231a91a.js"></script>
  <script src="/json/vue~3.js"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R3WC07G3GB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-R3WC07G3GB');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2572770204602497"
     crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/vue~3/" class="_nav-link" title="" style="margin-left:0;">Vue 3</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _vue">
				
				
<h1 id="props" tabindex="-1">Props </h1>
<blockquote><p>This page assumes you've already read the <a href="../essentials/component-basics">Components Basics</a>. Read that first if you are new to components.</p></blockquote>

<h2 id="props-declaration" tabindex="-1">Props Declaration </h2>
<p>Vue components require explicit props declaration so that Vue knows what external props passed to the component should be treated as fallthrough attributes (which will be discussed in <a href="attrs">its dedicated section</a>).</p>
<div class="composition-api">
<p>In SFCs using <code>&lt;script setup&gt;</code>, props can be declared using the <code>defineProps()</code> macro:</p>
<pre data-language="javascript">&lt;script setup&gt;
const props = defineProps(['foo'])

console.log(props.foo)
&lt;/script&gt;</pre>
<p>In non-<code>&lt;script setup&gt;</code> components, props are declared using the <a href="../../api/options-state#props"><code>props</code></a> option:</p>
<pre data-language="js">export default {
  props: ['foo'],
  setup(props) {
    // setup() receives props as the first argument.
    console.log(props.foo)
  }
}</pre>
<p>Notice the argument passed to <code>defineProps()</code> is the same as the value provided to the <code>props</code> options: the same props options API is shared between the two declaration styles.</p>
</div>
<div class="options-api">
<p>Props are declared using the <a href="../../api/options-state#props"><code>props</code></a> option:</p>
<pre data-language="js">export default {
  props: ['foo'],
  created() {
    // props are exposed on `this`
    console.log(this.foo)
  }
}</pre>
</div>
<p>In addition to declaring props using an array of strings, we can also use the object syntax:</p>
<div class="options-api"><pre data-language="js">export default {
  props: {
    title: String,
    likes: Number
  }
}</pre></div>
<div class="composition-api">
<pre data-language="js">// in &lt;script setup&gt;
defineProps({
  title: String,
  likes: Number
})</pre>
<pre data-language="js">// in non-&lt;script setup&gt;
export default {
  props: {
    title: String,
    likes: Number
  }
}</pre>
</div>
<p>For each property in the object declaration syntax, the key is the name of the prop, while the value should be the constructor function of the expected type.</p>
<p>This not only documents your component, but will also warn other developers using your component in the browser console if they pass the wrong type. We will discuss more details about <a href="#prop-validation">prop validation</a> further down this page.</p>
<div class="options-api"><p>See also: <a href="../typescript/options-api#typing-component-props">Typing Component Props</a> </p></div>
<div class="composition-api">
<p>If you are using TypeScript with <code>&lt;script setup&gt;</code>, it's also possible to declare props using pure type annotations:</p>
<pre data-language="javascript">&lt;script setup lang="ts"&gt;
defineProps&lt;{
  title?: string
  likes?: number
}&gt;()
&lt;/script&gt;</pre>
<p>More details: <a href="../typescript/composition-api#typing-component-props">Typing Component Props</a> </p>
</div>
<h2 id="prop-passing-details" tabindex="-1">Prop Passing Details </h2>
<h3 id="prop-name-casing" tabindex="-1">Prop Name Casing </h3>
<p>We declare long prop names using camelCase because this avoids having to use quotes when using them as property keys, and allows us to reference them directly in template expressions because they are valid JavaScript identifiers:</p>
<div class="composition-api"><pre data-language="js">defineProps({
  greetingMessage: String
})</pre></div>
<div class="options-api"><pre data-language="js">export default {
  props: {
    greetingMessage: String
  }
}</pre></div>
<pre data-language="template">&lt;span&gt;{{ greetingMessage }}&lt;/span&gt;</pre>
<p>Technically, you can also use camelCase when passing props to a child component (except in <a href="../essentials/component-basics#dom-template-parsing-caveats">DOM templates</a>). However, the convention is using kebab-case in all cases to align with HTML attributes:</p>
<pre data-language="template">&lt;MyComponent greeting-message="hello" /&gt;</pre>
<p>We use <a href="registration#component-name-casing">PascalCase for component tags</a> when possible because it improves template readability by differentiating Vue components from native elements. However, there isn't as much practical benefit in using camelCase when passing props, so we choose to follow each language's conventions.</p>
<h3 id="static-vs-dynamic-props" tabindex="-1">Static vs. Dynamic Props </h3>
<p>So far, you've seen props passed as static values, like in:</p>
<pre data-language="template">&lt;BlogPost title="My journey with Vue" /&gt;</pre>
<p>You've also seen props assigned dynamically with <code>v-bind</code> or its <code>:</code> shortcut, such as in:</p>
<pre data-language="template">&lt;!-- Dynamically assign the value of a variable --&gt;
&lt;BlogPost :title="post.title" /&gt;

&lt;!-- Dynamically assign the value of a complex expression --&gt;
&lt;BlogPost :title="post.title + ' by ' + post.author.name" /&gt;</pre>
<h3 id="passing-different-value-types" tabindex="-1">Passing Different Value Types </h3>
<p>In the two examples above, we happen to pass string values, but <em>any</em> type of value can be passed to a prop.</p>
<h4 id="number" tabindex="-1">Number </h4>
<pre data-language="template">&lt;!-- Even though `42` is static, we need v-bind to tell Vue that --&gt;
&lt;!-- this is a JavaScript expression rather than a string.       --&gt;
&lt;BlogPost :likes="42" /&gt;

&lt;!-- Dynamically assign to the value of a variable. --&gt;
&lt;BlogPost :likes="post.likes" /&gt;</pre>
<h4 id="boolean" tabindex="-1">Boolean </h4>
<pre data-language="template">&lt;!-- Including the prop with no value will imply `true`. --&gt;
&lt;BlogPost is-published /&gt;

&lt;!-- Even though `false` is static, we need v-bind to tell Vue that --&gt;
&lt;!-- this is a JavaScript expression rather than a string.          --&gt;
&lt;BlogPost :is-published="false" /&gt;

&lt;!-- Dynamically assign to the value of a variable. --&gt;
&lt;BlogPost :is-published="post.isPublished" /&gt;</pre>
<h4 id="array" tabindex="-1">Array </h4>
<pre data-language="template">&lt;!-- Even though the array is static, we need v-bind to tell Vue that --&gt;
&lt;!-- this is a JavaScript expression rather than a string.            --&gt;
&lt;BlogPost :comment-ids="[234, 266, 273]" /&gt;

&lt;!-- Dynamically assign to the value of a variable. --&gt;
&lt;BlogPost :comment-ids="post.commentIds" /&gt;</pre>
<h4 id="object" tabindex="-1">Object </h4>
<pre data-language="template">&lt;!-- Even though the object is static, we need v-bind to tell Vue that --&gt;
&lt;!-- this is a JavaScript expression rather than a string.             --&gt;
&lt;BlogPost
  :author="{
    name: 'Veronica',
    company: 'Veridian Dynamics'
  }"
 /&gt;

&lt;!-- Dynamically assign to the value of a variable. --&gt;
&lt;BlogPost :author="post.author" /&gt;</pre>
<h3 id="binding-multiple-properties-using-an-object" tabindex="-1">Binding Multiple Properties Using an Object </h3>
<p>If you want to pass all the properties of an object as props, you can use <a href="../essentials/template-syntax#dynamically-binding-multiple-attributes"><code>v-bind</code> without an argument</a> (<code>v-bind</code> instead of <code>:prop-name</code>). For example, given a <code>post</code> object:</p>
<div class="options-api"><pre data-language="js">export default {
  data() {
    return {
      post: {
        id: 1,
        title: 'My Journey with Vue'
      }
    }
  }
}</pre></div>
<div class="composition-api"><pre data-language="js">const post = {
  id: 1,
  title: 'My Journey with Vue'
}</pre></div>
<p>The following template:</p>
<pre data-language="template">&lt;BlogPost v-bind="post" /&gt;</pre>
<p>Will be equivalent to:</p>
<pre data-language="template">&lt;BlogPost :id="post.id" :title="post.title" /&gt;</pre>
<h2 id="one-way-data-flow" tabindex="-1">One-Way Data Flow </h2>
<p>All props form a <strong>one-way-down binding</strong> between the child property and the parent one: when the parent property updates, it will flow down to the child, but not the other way around. This prevents child components from accidentally mutating the parent's state, which can make your app's data flow harder to understand.</p>
<p>In addition, every time the parent component is updated, all props in the child component will be refreshed with the latest value. This means you should <strong>not</strong> attempt to mutate a prop inside a child component. If you do, Vue will warn you in the console:</p>
<div class="composition-api"><pre data-language="js">const props = defineProps(['foo'])

// ❌ warning, props are readonly!
props.foo = 'bar'</pre></div>
<div class="options-api"><pre data-language="js">export default {
  props: ['foo'],
  created() {
    // ❌ warning, props are readonly!
    this.foo = 'bar'
  }
}</pre></div>
<p>There are usually two cases where it's tempting to mutate a prop:</p>
<ol>
<li>
<p><strong>The prop is used to pass in an initial value; the child component wants to use it as a local data property afterwards.</strong> In this case, it's best to define a local data property that uses the prop as its initial value:</p>
<div class="composition-api"><pre data-language="js">const props = defineProps(['initialCounter'])

// counter only uses props.initialCounter as the initial value;
// it is disconnected from future prop updates.
const counter = ref(props.initialCounter)</pre></div>
<div class="options-api"><pre data-language="js">export default {
  props: ['initialCounter'],
  data() {
    return {
      // counter only uses this.initialCounter as the initial value;
      // it is disconnected from future prop updates.
      counter: this.initialCounter
    }
  }
}</pre></div>
</li>
<li>
<p><strong>The prop is passed in as a raw value that needs to be transformed.</strong> In this case, it's best to define a computed property using the prop's value:</p>
<div class="composition-api"><pre data-language="js">const props = defineProps(['size'])

// computed property that auto-updates when the prop changes
const normalizedSize = computed(() =&gt; props.size.trim().toLowerCase())</pre></div>
<div class="options-api"><pre data-language="js">export default {
  props: ['size'],
  computed: {
    // computed property that auto-updates when the prop changes
    normalizedSize() {
      return this.size.trim().toLowerCase()
    }
  }
}</pre></div>
</li>
</ol>
<h3 id="mutating-object-array-props" tabindex="-1">Mutating Object / Array Props </h3>
<p>When objects and arrays are passed as props, while the child component cannot mutate the prop binding, it <strong>will</strong> be able to mutate the object or array's nested properties. This is because in JavaScript objects and arrays are passed by reference, and it is unreasonably expensive for Vue to prevent such mutations.</p>
<p>The main drawback of such mutations is that it allows the child component to affect parent state in a way that isn't obvious to the parent component, potentially making it more difficult to reason about the data flow in the future. As a best practice, you should avoid such mutations unless the parent and child are tightly coupled by design. In most cases, the child should <a href="events">emit an event</a> to let the parent perform the mutation.</p>
<h2 id="prop-validation" tabindex="-1">Prop Validation </h2>
<p>Components can specify requirements for their props, such as the types you've already seen. If a requirement is not met, Vue will warn you in the browser's JavaScript console. This is especially useful when developing a component that is intended to be used by others.</p>
<p>To specify prop validations, you can provide an object with validation requirements to the <span class="composition-api"><code>defineProps()</code> macro</span><span class="options-api"><code>props</code> option</span>, instead of an array of strings. For example:</p>
<div class="composition-api">
<pre data-language="js">defineProps({
  // Basic type check
  //  (`null` and `undefined` values will allow any type)
  propA: Number,
  // Multiple possible types
  propB: [String, Number],
  // Required string
  propC: {
    type: String,
    required: true
  },
  // Number with a default value
  propD: {
    type: Number,
    default: 100
  },
  // Object with a default value
  propE: {
    type: Object,
    // Object or array defaults must be returned from
    // a factory function. The function receives the raw
    // props received by the component as the argument.
    default(rawProps) {
      return { message: 'hello' }
    }
  },
  // Custom validator function
  propF: {
    validator(value) {
      // The value must match one of these strings
      return ['success', 'warning', 'danger'].includes(value)
    }
  },
  // Function with a default value
  propG: {
    type: Function,
    // Unlike object or array default, this is not a factory 
    // function - this is a function to serve as a default value
    default() {
      return 'Default function'
    }
  }
})</pre>
<div class="tip custom-block">
<strong class="custom-block-title">TIP</strong><p>Code inside the <code>defineProps()</code> argument <strong>cannot access other variables declared in <code>&lt;script setup&gt;</code></strong>, because the entire expression is moved to an outer function scope when compiled.</p>
</div>
</div>
<div class="options-api"><pre data-language="js">export default {
  props: {
    // Basic type check
    //  (`null` and `undefined` values will allow any type)
    propA: Number,
    // Multiple possible types
    propB: [String, Number],
    // Required string
    propC: {
      type: String,
      required: true
    },
    // Number with a default value
    propD: {
      type: Number,
      default: 100
    },
    // Object with a default value
    propE: {
      type: Object,
      // Object or array defaults must be returned from
      // a factory function. The function receives the raw
      // props received by the component as the argument.
      default(rawProps) {
        return { message: 'hello' }
      }
    },
    // Custom validator function
    propF: {
      validator(value) {
        // The value must match one of these strings
        return ['success', 'warning', 'danger'].includes(value)
      }
    },
    // Function with a default value
    propG: {
      type: Function,
      // Unlike object or array default, this is not a factory 
      // function - this is a function to serve as a default value
      default() {
        return 'Default function'
      }
    }
  }
}</pre></div>
<p>Additional details:</p>
<ul>
<li><p>All props are optional by default, unless <code>required: true</code> is specified.</p></li>
<li><p>An absent optional prop other than <code>Boolean</code> will have <code>undefined</code> value.</p></li>
<li><p>The <code>Boolean</code> absent props will be cast to <code>false</code>. You can change this by setting a <code>default</code> for it — i.e.: <code>default: undefined</code> to behave as a non-Boolean prop.</p></li>
<li><p>If a <code>default</code> value is specified, it will be used if the resolved prop value is <code>undefined</code> - this includes both when the prop is absent, or an explicit <code>undefined</code> value is passed.</p></li>
</ul>
<p>When prop validation fails, Vue will produce a console warning (if using the development build).</p>
<div class="composition-api"><p>If using <a href="../../api/sfc-script-setup#type-only-props-emit-declarations">Type-based props declarations</a> , Vue will try its best to compile the type annotations into equivalent runtime prop declarations. For example, <code>defineProps&lt;{ msg: string }&gt;</code> will be compiled into <code>{ msg: { type: String, required: true }}</code>.</p></div>
<div class="options-api"><div class="tip custom-block">
<strong class="custom-block-title">Note</strong><p>Note that props are validated <strong>before</strong> a component instance is created, so instance properties (e.g. <code>data</code>, <code>computed</code>, etc.) will not be available inside <code>default</code> or <code>validator</code> functions.</p>
</div></div>
<h3 id="runtime-type-checks" tabindex="-1">Runtime Type Checks </h3>
<p>The <code>type</code> can be one of the following native constructors:</p>
<ul>
<li><code>String</code></li>
<li><code>Number</code></li>
<li><code>Boolean</code></li>
<li><code>Array</code></li>
<li><code>Object</code></li>
<li><code>Date</code></li>
<li><code>Function</code></li>
<li><code>Symbol</code></li>
</ul>
<p>In addition, <code>type</code> can also be a custom class or constructor function and the assertion will be made with an <code>instanceof</code> check. For example, given the following class:</p>
<pre data-language="js">class Person {
  constructor(firstName, lastName) {
    this.firstName = firstName
    this.lastName = lastName
  }
}</pre>
<p>You could use it as a prop's type:</p>
<div class="composition-api"><pre data-language="js">defineProps({
  author: Person
})</pre></div>
<div class="options-api"><pre data-language="js">export default {
  props: {
    author: Person
  }
}</pre></div>
<p>Vue will use <code>instanceof Person</code> to validate whether the value of the <code>author</code> prop is indeed an instance of the <code>Person</code> class.</p>
<h2 id="boolean-casting" tabindex="-1">Boolean Casting </h2>
<p>Props with <code>Boolean</code> type have special casting rules to mimic the behavior of native boolean attributes. Given a <code>&lt;MyComponent&gt;</code> with the following declaration:</p>
<div class="composition-api"><pre data-language="js">defineProps({
  disabled: Boolean
})</pre></div>
<div class="options-api"><pre data-language="js">export default {
  props: {
    disabled: Boolean
  }
}</pre></div>
<p>The component can be used like this:</p>
<pre data-language="template">&lt;!-- equivalent of passing :disabled="true" --&gt;
&lt;MyComponent disabled /&gt;

&lt;!-- equivalent of passing :disabled="false" --&gt;
&lt;MyComponent /&gt;</pre>
<p>When a prop is declared to allow multiple types, e.g.</p>
<div class="composition-api"><pre data-language="js">defineProps({
  disabled: [Boolean, Number]
})</pre></div>
<div class="options-api"><pre data-language="js">export default {
  props: {
    disabled: [Boolean, Number]
  }
}</pre></div>
<p>The casting rules for <code>Boolean</code> will apply regardless of type appearance order.</p>
<div class="_attribution">
  <p class="_attribution-p">
    © 2013–present Yuxi Evan You<br>Licensed under the MIT License.<br>
    <a href="https://vuejs.org/guide/components/props.html" class="_attribution-link">https://vuejs.org/guide/components/props.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
