
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>19. Component V-model (Components In-Depth) - Vue 3 - W3cubDocs</title>
  
  <meta name="description" content=" v-model can be used on a component to implement a two-way binding. ">
  <meta name="keywords" content="component, v-model, components, in-depth, vue, vue~3">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/vue~3/guide/components/v-model.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-9c7b0d969c0ce639a6c01c2badcdd81667c7c66206aa3d0fccc5cb0585fb1b912dab72ea882101d18010680927514b4b77b107282db8f756fbf63301fe9c88b0.css">
  <script type="text/javascript" src="/assets/application-79c555f6b25481fffac2cac30a7f3e54e608ca09e9e8e42bb1790095ba6d0fcace47d6bc624ddce952c70370892f2d46864f89e6943d4f7f7ff16c8a3231a91a.js"></script>
  <script src="/json/vue~3.js"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R3WC07G3GB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-R3WC07G3GB');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2572770204602497"
     crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/vue~3/" class="_nav-link" title="" style="margin-left:0;">Vue 3</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _vue">
				
				
<h1 id="component-v-model" tabindex="-1">Component v-model </h1>
<p><code>v-model</code> can be used on a component to implement a two-way binding.</p>
<p>First let's revisit how <code>v-model</code> is used on a native element:</p>
<pre data-language="template">&lt;input v-model="searchText" /&gt;</pre>
<p>Under the hood, the template compiler expands <code>v-model</code> to the more verbose equivalent for us. So the above code does the same as the following:</p>
<pre data-language="template">&lt;input
  :value="searchText"
  @input="searchText = $event.target.value"
/&gt;</pre>
<p>When used on a component, <code>v-model</code> instead expands to this:</p>
<pre data-language="template">&lt;CustomInput
  :modelValue="searchText"
  @update:modelValue="newValue =&gt; searchText = newValue"
/&gt;</pre>
<p>For this to actually work though, the <code>&lt;CustomInput&gt;</code> component must do two things:</p>
<ol>
<li>Bind the <code>value</code> attribute of a native <code>&lt;input&gt;</code> element to the <code>modelValue</code> prop</li>
<li>When a native <code>input</code> event is triggered, emit an <code>update:modelValue</code> custom event with the new value</li>
</ol>
<p>Here's that in action:</p>
<div class="options-api"><pre data-language="javascript">&lt;!-- CustomInput.vue --&gt;
&lt;script&gt;
export default {
  props: ['modelValue'],
  emits: ['update:modelValue']
}
&lt;/script&gt;

&lt;template&gt;
  &lt;input
    :value="modelValue"
    @input="$emit('update:modelValue', $event.target.value)"
  /&gt;
&lt;/template&gt;</pre></div>
<div class="composition-api"><pre data-language="javascript">&lt;!-- CustomInput.vue --&gt;
&lt;script setup&gt;
defineProps(['modelValue'])
defineEmits(['update:modelValue'])
&lt;/script&gt;

&lt;template&gt;
  &lt;input
    :value="modelValue"
    @input="$emit('update:modelValue', $event.target.value)"
  /&gt;
&lt;/template&gt;</pre></div>
<p>Now <code>v-model</code> should work perfectly with this component:</p>
<pre data-language="template">&lt;CustomInput v-model="searchText" /&gt;</pre>
<div class="options-api"><p><a href="https://play.vuejs.org/#eNqFkctqwzAQRX9lEAEn4Np744aWrvoD3URdiHiSGvRCHpmC8b93JDfGKYGCkJjXvTrSJF69r8aIohHtcA69p6O0vfEuELzFgZx5tz4SXIIzUFT1JpfGCmmlxe/c3uFFRU0wSQtwdqxh0dLQwHSnNJep3ilS+8PSCxCQYrC3CMDgMKgrNlB8odaOXVJ2TgdvvNp6vSwHhMZrRcgRQLs1G5+M61A/S/ErKQXUR5immwXMWW1VEKX4g3j3Mo9QfXCeKU9FtvpQmp/lM0Oi6RP/qYieebHZNvyL0acLLODNmGYSxCogxVJ6yW1c2iWz/QOnEnY48kdUpMIVGSllD8t8zVZb+PkHqPG4iw==" target="_blank" rel="noreferrer">Try it in the Playground</a></p></div>
<div class="composition-api"><p><a href="https://play.vuejs.org/#eNp9j81qwzAQhF9lEQE7kNp344SW0kNvPfVS9WDidSrQH9LKF+N37yoOxoSQm7QzO9/sJN68r8aEohFtPAflCSJS8idplfEuEEwQcIAZhuAMFGwtVuk9RXLm0/pEN7mqN7Ocy2YAac/ORgKDMXYXhGOOLIs/1NoVe2nbekEzlD+ExuuOkH8A7ZYxvhjXoz5KcUuSAuoTTNOaPM85bU0QB3HX58GdPQ7K4ldwPpY/xZXw3Wmu/svVFvHDKMpi8j3HNneeZ/VVBucXQDPmjVx+XZdikV6vNpZ2yKTyAecAOxzRUkVduCCfkqf7Zb9m1Pbo+R9ZkqZn" target="_blank" rel="noreferrer">Try it in the Playground</a></p></div>
<p>Another way of implementing <code>v-model</code> within this component is to use a writable <code>computed</code> property with both a getter and a setter. The <code>get</code> method should return the <code>modelValue</code> property and the <code>set</code> method should emit the corresponding event:</p>
<div class="options-api"><pre data-language="javascript">&lt;!-- CustomInput.vue --&gt;
&lt;script&gt;
export default {
  props: ['modelValue'],
  emits: ['update:modelValue'],
  computed: {
    value: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      }
    }
  }
}
&lt;/script&gt;

&lt;template&gt;
  &lt;input v-model="value" /&gt;
&lt;/template&gt;</pre></div>
<div class="composition-api"><pre data-language="javascript">&lt;!-- CustomInput.vue --&gt;
&lt;script setup&gt;
import { computed } from 'vue'

const props = defineProps(['modelValue'])
const emit = defineEmits(['update:modelValue'])

const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
&lt;/script&gt;

&lt;template&gt;
  &lt;input v-model="value" /&gt;
&lt;/template&gt;</pre></div>
<h2 id="v-model-arguments" tabindex="-1">
<code>v-model</code> arguments </h2>
<p>By default, <code>v-model</code> on a component uses <code>modelValue</code> as the prop and <code>update:modelValue</code> as the event. We can modify these names passing an argument to <code>v-model</code>:</p>
<pre data-language="template">&lt;MyComponent v-model:title="bookTitle" /&gt;</pre>
<p>In this case, the child component should expect a <code>title</code> prop and emit an <code>update:title</code> event to update the parent value:</p>
<div class="composition-api">
<pre data-language="javascript">&lt;!-- MyComponent.vue --&gt;
&lt;script setup&gt;
defineProps(['title'])
defineEmits(['update:title'])
&lt;/script&gt;

&lt;template&gt;
  &lt;input
    type="text"
    :value="title"
    @input="$emit('update:title', $event.target.value)"
  /&gt;
&lt;/template&gt;</pre>
<p><a href="https://play.vuejs.org/#eNp9kE1rwzAMhv+KMIW00DXsGtKyMXYc7D7vEBplM8QfOHJoCfnvk+1QsjJ2svVKevRKk3h27jAGFJWoh7NXjmBACu4kjdLOeoIJPHYwQ+ethoJLi1vq7fpi+WfQ0JI+lCstcrkYQJqzNQMBKeoRjhG4LcYHbVvsofFfQUcCXhrteix20tRl9sIuOCBkvSHkCKD+fjxN04Ka57rkOOlrMwu7SlVHKdIrBZRcWpc3ntiLO7t/nKHFThl899YN248ikYpP9pj1V60o6sG1TMwDU/q/FZRxgeIPgK4uGcQLSZGlamz6sHKd1afUxOoGeeT298A9bHCMKxBfE3mTSNjl1vud5x8qNa76" target="_blank" rel="noreferrer">Try it in the Playground</a></p>
</div>
<div class="options-api">
<pre data-language="javascript">&lt;!-- MyComponent.vue --&gt;
&lt;script&gt;
export default {
  props: ['title'],
  emits: ['update:title']
}
&lt;/script&gt;

&lt;template&gt;
  &lt;input
    type="text"
    :value="title"
    @input="$emit('update:title', $event.target.value)"
  /&gt;
&lt;/template&gt;</pre>
<p><a href="https://play.vuejs.org/#eNqFUNFqwzAM/BVhCm6ha9hryMrGnvcFdR9Mo26B2DGuHFJC/n2yvZakDAohtuTTne5G8eHcrg8oSlFdTr5xtFe2Ma7zBF/Xz45vFi3B2XcG5K6Y9eKYVFZZHBK8xrMOLcGoLMDphrqUMC6Ypm18rzXp9SZjATxS8PZWAVBDLZYg+xfT1diC9t/BxGEctHFtlI2wKR78468q7ttzQcgoTcgVQPXzuh/HzAnTVBVcp/58qz+lMqHelEinElAwtCrufGIrHhJYBPdfEs53jkM4yEQpj8k+miYmc5DBcRKYZeXxqZXGukDZPF1dWhQHUiK3yl63YbZ97r6nIe6uoup6KbmFFfbRCnHGyI4iwyaPPnqffgGMlsEM" target="_blank" rel="noreferrer">Try it in the Playground</a></p>
</div>
<h2 id="multiple-v-model-bindings" tabindex="-1">Multiple <code>v-model</code> bindings </h2>
<p>By leveraging the ability to target a particular prop and event as we learned before with <a href="#v-model-arguments"><code>v-model</code> arguments</a>, we can now create multiple <code>v-model</code> bindings on a single component instance.</p>
<p>Each <code>v-model</code> will sync to a different prop, without the need for extra options in the component:</p>
<pre data-language="template">&lt;UserName
  v-model:first-name="first"
  v-model:last-name="last"
/&gt;</pre>
<div class="composition-api">
<pre data-language="javascript">&lt;script setup&gt;
defineProps({
  firstName: String,
  lastName: String
})

defineEmits(['update:firstName', 'update:lastName'])
&lt;/script&gt;

&lt;template&gt;
  &lt;input
    type="text"
    :value="firstName"
    @input="$emit('update:firstName', $event.target.value)"
  /&gt;
  &lt;input
    type="text"
    :value="lastName"
    @input="$emit('update:lastName', $event.target.value)"
  /&gt;
&lt;/template&gt;</pre>
<p><a href="https://play.vuejs.org/#eNqNUc1qwzAMfhVjCk6hTdg1pGWD7bLDGIydlh1Cq7SGxDaOEjaC332yU6cdFNpLsPRJ348y8idj0qEHnvOi21lpkHWAvdmWSrZGW2Qjs1Azx2qrWyZoVMzQZwf2rWrhhKVZbHhGGivVTqsOWS0tfTeeKBGv+qjEMkJNdUaeNXigyCYjZIEKhNY0FQJVjBXHh+04nvicY/QOBM4VGUFhJHrwBWPDutV7aPKwslbU35Q8FCX/P+GJ4oB/T3hGpEU2m+ArfpnxytX2UEsF71abLhk9QxDzCzn7QCvVYeW7XuGyWSpH0eP6SyuxS75Eb/akOpn302LFYi8SiO8bJ5PK9DhFxV/j0yH8zOnzoWr6+SbhbifkMSwSsgByk1zzsoABFKZY2QNgGpiW57Pdrx2z3JCeI99Svvxh7g8muf2x" target="_blank" rel="noreferrer">Try it in the Playground</a></p>
</div>
<div class="options-api">
<pre data-language="javascript">&lt;script&gt;
export default {
  props: {
    firstName: String,
    lastName: String
  },
  emits: ['update:firstName', 'update:lastName']
}
&lt;/script&gt;

&lt;template&gt;
  &lt;input
    type="text"
    :value="firstName"
    @input="$emit('update:firstName', $event.target.value)"
  /&gt;
  &lt;input
    type="text"
    :value="lastName"
    @input="$emit('update:lastName', $event.target.value)"
  /&gt;
&lt;/template&gt;</pre>
<p><a href="https://play.vuejs.org/#eNqNkk1rg0AQhv/KIAETSJRexYYWeuqhl9JTt4clmSSC7i7rKCnif+/ObtYkELAiujPzztejQ/JqTNZ3mBRJ2e5sZWgrVNUYbQm+WrQfskE4WN1AmuXRwQmpUELh2Qv3eJBdTTAIBbDTLluhoraA4VpjXHNwL0kuV0EIYJE6q6IFcKhsSwWk7/qkUq/nq5be+aa5JztGfrmHu8t8GtoZhI2pJaGzAMrT03YYQk0YR3BnruSOZe5CXhKnC3X7TaP3WBc+ZaOc/1kk3hDJvYILRQGfQzx3Rct8GiJZJ7fA7gg/AmesNszMrUIXFpxbwCfZSh09D0Hc7tbN6sAWm4qZf6edcZgxrMHSdA3RF7PTn1l8lTIdhbXp1/CmhOeJRNHLupv4eIaXyItPdJEFD7R8NM0Ce/d/ZCTtESnzlVZXhP/vHbeZaT0tPdf59uONfx7mDVM=" target="_blank" rel="noreferrer">Try it in the Playground</a></p>
</div>
<h2 id="handling-v-model-modifiers" tabindex="-1">Handling <code>v-model</code> modifiers </h2>
<p>When we were learning about form input bindings, we saw that <code>v-model</code> has <a href="../essentials/forms#modifiers">built-in modifiers</a> - <code>.trim</code>, <code>.number</code> and <code>.lazy</code>. In some cases, you might also want the <code>v-model</code> on your custom input component to support custom modifiers.</p>
<p>Let's create an example custom modifier, <code>capitalize</code>, that capitalizes the first letter of the string provided by the <code>v-model</code> binding:</p>
<pre data-language="template">&lt;MyComponent v-model.capitalize="myText" /&gt;</pre>
<p>Modifiers added to a component <code>v-model</code> will be provided to the component via the <code>modelModifiers</code> prop. In the below example, we have created a component that contains a <code>modelModifiers</code> prop that defaults to an empty object:</p>
<div class="composition-api"><pre data-language="javascript">&lt;script setup&gt;
const props = defineProps({
  modelValue: String,
  modelModifiers: { default: () =&gt; ({}) }
})

defineEmits(['update:modelValue'])

console.log(props.modelModifiers) // { capitalize: true }
&lt;/script&gt;

&lt;template&gt;
  &lt;input
    type="text"
    :value="modelValue"
    @input="$emit('update:modelValue', $event.target.value)"
  /&gt;
&lt;/template&gt;</pre></div>
<div class="options-api"><pre data-language="javascript">&lt;script&gt;
export default {
  props: {
    modelValue: String,
    modelModifiers: {
      default: () =&gt; ({})
    }
  },
  emits: ['update:modelValue'],
  created() {
    console.log(this.modelModifiers) // { capitalize: true }
  }
}
&lt;/script&gt;

&lt;template&gt;
  &lt;input
    type="text"
    :value="modelValue"
    @input="$emit('update:modelValue', $event.target.value)"
  /&gt;
&lt;/template&gt;</pre></div>
<p>Notice the component's <code>modelModifiers</code> prop contains <code>capitalize</code> and its value is <code>true</code> - due to it being set on the <code>v-model</code> binding <code>v-model.capitalize="myText"</code>.</p>
<p>Now that we have our prop set up, we can check the <code>modelModifiers</code> object keys and write a handler to change the emitted value. In the code below we will capitalize the string whenever the <code>&lt;input /&gt;</code> element fires an <code>input</code> event.</p>
<div class="composition-api">
<pre data-language="javascript">&lt;script setup&gt;
const props = defineProps({
  modelValue: String,
  modelModifiers: { default: () =&gt; ({}) }
})

const emit = defineEmits(['update:modelValue'])

function emitValue(e) {
  let value = e.target.value
  if (props.modelModifiers.capitalize) {
    value = value.charAt(0).toUpperCase() + value.slice(1)
  }
  emit('update:modelValue', value)
}
&lt;/script&gt;

&lt;template&gt;
  &lt;input type="text" :value="modelValue" @input="emitValue" /&gt;
&lt;/template&gt;</pre>
<p><a href="https://play.vuejs.org/#eNp9Us1Og0AQfpUJF5ZYqV4JNTaNxyYmVi/igdCh3QR2N7tDIza8u7NLpdU0nmB+v5/ZY7Q0Jj10GGVR7iorDYFD6sxDoWRrtCU4gsUaBqitbiHm1ngqrfuV5j+Fik7ldH6R83u5GaBQlVaOoO03+Emw8BtFHCeFyucjKMNxQNiapiTkCGCzlw6kMh1BVRpJZSO/0AEe0Pa0l2oHve6AYdBmvj+/ZHO4bfUWm/Q8uSiiEb6IYM4A+XxCi2bRH9ZX3BgVGKuNYwFbrKXCZx+Jo0cPcG9l02EGL2SZ3mxKr/VW1hKty9hMniy7hjIQCSweQByHBIZCDWzGDwi20ps0Yjxx4MR73Jktc83OOPFHGKk7VZHUKkyFgsAEAqcG2Qif4WWYUml3yOp8wldlDSLISX+TvPDstAemLeGbVvvSLkncJSnpV2PQrkqHLOfmVHeNrFDcMz3w0iBQE1cUzMYBbuS2f55CPj4D6o0/I41HzMKsP+u0kLOPoZWzkx1X7j18A8s0DEY=" target="_blank" rel="noreferrer">Try it in the Playground</a></p>
</div>
<div class="options-api">
<pre data-language="javascript">&lt;script&gt;
export default {
  props: {
    modelValue: String,
    modelModifiers: {
      default: () =&gt; ({})
    }
  },
  emits: ['update:modelValue'],
  methods: {
    emitValue(e) {
      let value = e.target.value
      if (this.modelModifiers.capitalize) {
        value = value.charAt(0).toUpperCase() + value.slice(1)
      }
      this.$emit('update:modelValue', value)
    }
  }
}
&lt;/script&gt;

&lt;template&gt;
  &lt;input type="text" :value="modelValue" @input="emitValue" /&gt;
&lt;/template&gt;</pre>
<p><a href="https://play.vuejs.org/#eNqFks1qg0AQgF9lkIKGpqa9iikNOefUtJfaw6KTZEHdZR1DbPDdO7saf0qgIq47//PNXL2N1uG5Ri/y4io1UtNrUspCK0Owa7aK/0osCQ5GFeCHq4nMuvlJCZCUeHEOGR5EnRNcrTS92VURXGex2qXVZ4JEsOhsAQxSbcrbDaBo9nihCHyXAaC1B3/4jVdDoXwhLHQuCPkGsD/JCmSpa4JUaEkilz9YAZ7RNHSS5REaVQPXgCay9vG0rPNToTLMw9FznXhdHYkHK04Qr4Zs3tL7g2JG8B4QbZS2LLqGXK5PkdcYwTsZrs1R6RU7lcmDRDPaM7AuWARMbf0KwbVdTNk4dyyk5f3l15r5YjRm8b+dQYF0UtkY1jo4fYDDLAByZBxWCmvAkIQ5IvdoBTcLeYCAiVbhvNwJvEk4GIK5M0xPwmwoeF6EpD60RrMVFXJXj72+ymWKwUvfXt+gfVzGB1tzcKfDZec+o/LfxsTdtlCj7bSpm3Xk4tjpD8FZ+uZMWTowu7MW7S+CWR77" target="_blank" rel="noreferrer">Try it in the Playground</a></p>
</div>
<p>For <code>v-model</code> bindings with both argument and modifiers, the generated prop name will be <code>arg + "Modifiers"</code>. For example:</p>
<pre data-language="template">&lt;MyComponent v-model:title.capitalize="myText"&gt;</pre>
<p>The corresponding declarations should be:</p>
<div class="composition-api"><pre data-language="js">const props = defineProps(['title', 'titleModifiers'])
defineEmits(['update:title'])

console.log(props.titleModifiers) // { capitalize: true }</pre></div>
<div class="options-api"><pre data-language="js">export default {
  props: ['title', 'titleModifiers'],
  emits: ['update:title'],
  created() {
    console.log(this.titleModifiers) // { capitalize: true }
  }
}</pre></div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2013–present Yuxi Evan You<br>Licensed under the MIT License.<br>
    <a href="https://vuejs.org/guide/components/v-model.html" class="_attribution-link">https://vuejs.org/guide/components/v-model.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
