
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Actions - Ember.js - W3cubDocs</title>
  
  <meta name="description" content="Your app will often need a way to let users interact with controls that change application state. For example, imagine that you have a template that &hellip;">
  <meta name="keywords" content="actions, ember, js">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/ember/templates/actions.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-01fda2ddb8339756caccf7add5ad4cf849ab52d069bd799015c7f04f93164f64753bff0d15a49d8060b1e66e41002bb301ccadc2350937df079cea3cd52d3cca.css">
  <script src="/assets/application-d9be6f56a823612443fc15b2e027a630e02c4ad2685bb750d13fa4fae28d46c3e7f7ebb69bd4bafddf116f218f9372e9be44021d4247dc20424e2fd1ff8cef81.js" type="text/javascript"></script>
  <script src="/json/ember.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script data-ad-client="ca-pub-2572770204602497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/ember/" class="_nav-link" title="" style="margin-left:0;">Ember.js</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _ember">
				
				
<h1> Actions  </h1>  <p>Your app will often need a way to let users interact with controls that change application state. For example, imagine that you have a template that shows a blog title, and supports expanding the post to show the body.</p> <p>If you add the <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_action"><code>{{action}}</code></a> helper to any HTML DOM element, when a user clicks the element, the named event will be sent to the template's corresponding component or controller.</p> <div class="pre-title"><code>app/templates/components/single-post.hbs</code></div>
<pre class="highlight handlebars " data-language="html">&lt;h3&gt;&lt;button {{action "toggleBody"}}&gt;{{title}}&lt;/button&gt;&lt;/h3&gt;
{{#if isShowingBody}}
  &lt;p&gt;{{{body}}}&lt;/p&gt;
{{/if}}
</pre> <p>In the component or controller, you can then define what the action does within the <code>actions</code> hook:</p> <div class="pre-title"><code>app/components/single-post.js</code></div>
<pre class="highlight javascript " data-language="javascript">import Ember from 'ember';

export default Ember.Component.extend({
  actions: {
    toggleBody() {
      this.toggleProperty('isShowingBody');
    }
  }
});
</pre> <p>You will learn about more advanced usages in the Component's <a href="https://guides.emberjs.com/components/triggering-changes-with-actions/">Triggering Changes With Actions</a> guide, but you should familiarize yourself with the following basics first.</p> <h2 class="anchorable-toc" id="toc_action-parameters">Action Parameters</h2> <p>You can optionally pass arguments to the action handler. Any values passed to the <code>{{action}}</code> helper after the action name will be passed to the handler as arguments.</p> <p>For example, if the <code>post</code> argument was passed:</p> <pre class="highlight handlebars " data-language="html">&lt;p&gt;&lt;button {{action "select" post}}&gt;✓&lt;/button&gt; {{post.title}}&lt;/p&gt;
</pre> <p>The <code>select</code> action handler would be called with a single argument containing the post model:</p> <div class="pre-title"><code>app/components/single-post.js</code></div>
<pre class="highlight javascript " data-language="javascript">import Ember from 'ember';

export default Ember.Component.extend({
  actions: {
    select(post) {
      console.log(post.get('title'));
    }
  }
});
</pre>
<h2 class="anchorable-toc" id="toc_specifying-the-type-of-event">Specifying the Type of Event</h2> <p>By default, the <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_action"><code>{{action}}</code></a> helper listens for click events and triggers the action when the user clicks on the element.</p> <p>You can specify an alternative event by using the <code>on</code> option.</p> <pre class="highlight handlebars " data-language="html">&lt;p&gt;
  &lt;button {{action "select" post on="mouseUp"}}&gt;✓&lt;/button&gt;
  {{post.title}}
&lt;/p&gt;
</pre> <p>You should use the <code>camelCased</code> event names, so two-word names like <code>keypress</code> become <code>keyPress</code>.</p> <h2 class="anchorable-toc" id="toc_allowing-modifier-keys">Allowing Modifier Keys</h2> <p>By default the <code>{{action}}</code> helper will ignore click events with pressed modifier keys. You can supply an <code>allowedKeys</code> option to specify which keys should not be ignored.</p> <pre class="highlight handlebars " data-language="html">&lt;button {{action "anActionName" allowedKeys="alt"}}&gt;
  click me
&lt;/button&gt;
</pre> <p>This way the <code>{{action}}</code> will fire when clicking with the alt key pressed down.</p> <h2 class="anchorable-toc" id="toc_allowing-default-browser-action">Allowing Default Browser Action</h2> <p>By default, the <code>{{action}}</code> helper prevents the default browser action of the DOM event. If you want to allow the browser action, you can stop Ember from preventing it.</p> <p>For example, if you have a normal link tag and want the link to bring the user to another page in addition to triggering an ember action when clicked, you can use <code>preventDefault=false</code>:</p> <pre class="highlight handlebars " data-language="html">&lt;a href="newPage.htm" {{action "logClick" preventDefault=false}}&gt;Go&lt;/a&gt;
</pre> <p>With <code>preventDefault=false</code> omitted, if the user clicked on the link, Ember.js will trigger the action, but the user will remain on the current page.</p> <p>With <code>preventDefault=false</code> present, if the user clicked on the link, Ember.js will trigger the action <em>and</em> the user will be directed to the new page.</p> <h2 class="anchorable-toc" id="toc_modifying-the-action-s-first-parameter">Modifying the action's first parameter</h2> <p>If a <code>value</code> option for the <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_action"><code>{{action}}</code></a> helper is specified, its value will be considered a property path that will be read off of the first parameter of the action. This comes very handy with event listeners and enables to work with one-way bindings.</p> <pre class="highlight handlebars " data-language="html">&lt;label&gt;What's your favorite band?&lt;/label&gt;
&lt;input type="text" value={{favoriteBand}} onblur={{action "bandDidChange"}} /&gt;
</pre> <p>Let's assume we have an action handler that prints its first parameter:</p> <pre class="highlight js " data-language="js">actions: {
  bandDidChange(newValue) {
    console.log(newValue);
  }
}
</pre> <p>By default, the action handler receives the first parameter of the event listener, the event object the browser passes to the handler, so <code>bandDidChange</code> prints <code>Event {}</code>.</p> <p>Using the <code>value</code> option modifies that behavior by extracting that property from the event object:</p> <pre class="highlight handlebars " data-language="html">&lt;label&gt;What's your favorite band?&lt;/label&gt;
&lt;input type="text" value={{favoriteBand}} onblur={{action "bandDidChange" value="target.value"}} /&gt;
</pre> <p>The <code>newValue</code> parameter thus becomes the <code>target.value</code> property of the event object, which is the value of the input field the user typed. (e.g 'Foo Fighters')</p> <h2 class="anchorable-toc" id="toc_attaching-actions-to-non-clickable-elements">Attaching Actions to Non-Clickable Elements</h2> <p>Note that actions may be attached to any element of the DOM, but not all respond to the <code>click</code> event. For example, if an action is attached to an <code>a</code> link without an <code>href</code> attribute, or to a <code>div</code>, some browsers won't execute the associated function. If it's really needed to define actions over such elements, a CSS workaround exists to make them clickable, <code>cursor: pointer</code>. For example:</p> <pre class="highlight css " data-language="">[data-ember-action]:not(:disabled) {
  cursor: pointer;
}
</pre> <p>Keep in mind that even with this workaround in place, the <code>click</code> event will not automatically trigger via keyboard driven <code>click</code> equivalents (such as the <code>enter</code> key when focused). Browsers will trigger this on clickable elements only by default. This also doesn't make an element accessible to users of assistive technology. You will need to add additional things like <code>role</code> and/or <code>tabindex</code> to make this accessible for your users.</p> <div class="_attribution">
  <p class="_attribution-p">
    © 2017 Yehuda Katz, Tom Dale and Ember.js contributors<br>Licensed under the MIT License.<br>
    <a href="https://guides.emberjs.com/v2.15.0/templates/actions" class="_attribution-link">https://guides.emberjs.com/v2.15.0/templates/actions</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
