
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Displaying a List of Items - Ember.js - W3cubDocs</title>
  
  <meta name="description" content="To iterate over a list of items, use the {{#each}} helper. The first argument to this helper is the array to be iterated, and the value being &hellip;">
  <meta name="keywords" content="displaying, list, items, ember, js">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/ember/templates/displaying-a-list-of-items.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-e4ebd3a2a5652ff55173659804c4390a004917f3bdd17b5bb3ba78ea5c9c46fe181cadaac34517ccd815f5bdc982bbfe67179d6f4ac2f084ef2265e2a3dc8dc5.css" integrity="sha512-5OvToqVlL/VRc2WYBMQ5CgBJF/O90Xtbs7p46lycRv4YHK2qw0UXzNgV9b3Jgrv+Zxedb0rC8ITvImXio9yNxQ==" crossorigin="anonymous">
  <script type="text/javascript" integrity="sha512-EpkDeu98lN/jPKijllzVWdRg/dUSSMCaldYZNFz6bcNoBvpWRNz0HSTRQJ3ENmQc5Cuj1zDW1vHd7b0DzpOgyA==" crossorigin="anonymous" src="/assets/application-1299037aef7c94dfe33ca8a3965cd559d460fdd51248c09a95d619345cfa6dc36806fa5644dcf41d24d1409dc436641ce42ba3d730d6d6f1ddedbd03ce93a0c8.js"></script>
  <script src="/json/ember.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script data-ad-client="ca-pub-2572770204602497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body>
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">
  
  <form class="_search">
    <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
    <a class="_search-clear"></a>
    <div class="_search-tag"></div>
  </form>
  
  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/ember/" class="_nav-link" title="" style="margin-left:0;">Ember.js</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _ember">
				
				
<h1> Displaying a List of Items  </h1>  <p>To iterate over a list of items, use the <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_each"><code>{{#each}}</code></a> helper. The first argument to this helper is the array to be iterated, and the value being iterated is yielded as a block param. Block params are only available inside the block of their helper.</p> <p>For example, this template iterates an array named <code>people</code> that contains objects. Each item in the array is provided as the block param <code>person</code>.</p> <pre class="highlight handlebars " data-language="html">&lt;ul&gt;
  {{#each people as |person|}}
    &lt;li&gt;Hello, {{person.name}}!&lt;/li&gt;
  {{/each}}
&lt;/ul&gt;
</pre> <p>Block params, like function arguments in JavaScript, are positional. <code>person</code> is what each item is named in the above template, but <code>human</code> would work just as well.</p> <p>The template inside of the <code>{{#each}}</code> block will be repeated once for each item in the array, with the each item set to the <code>person</code> block param.</p> <p>Given an input array like:</p> <pre class="highlight js " data-language="js">[
  { name: 'Yehuda' },
  { name: 'Tom' },
  { name: 'Trek' }
]
</pre> <p>The above template will render HTML like this:</p> <pre class="highlight html " data-language="html">&lt;ul&gt;
  &lt;li&gt;Hello, Yehuda!&lt;/li&gt;
  &lt;li&gt;Hello, Tom!&lt;/li&gt;
  &lt;li&gt;Hello, Trek!&lt;/li&gt;
&lt;/ul&gt;
</pre> <p>Like other helpers, the <code>{{#each}}</code> helper is bound. If a new item is added to or removed from the iterated array, the DOM will be updated without having to write any additional code. That said, Ember requires that you use <a href="https://guides.emberjs.com/object-model/enumerables/#toc_use-of-observable-methods-and-properties">special methods</a> to update bound arrays. Also be aware that <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#toc_specifying-keys">using the <code>key</code> option with an each helper</a> can improve re-render performance when an array is replaced with another containing similar items.</p> <h2 class="anchorable-toc" id="toc_accessing-an-item-s-code-index-code">Accessing an item's <code>index</code>
</h2> <p>During iteration, the index of each item in the array is provided as a second block param. Block params are space-separated, without commas. For example:</p> <pre class="highlight handlebars " data-language="html">&lt;ul&gt;
  {{#each people as |person index|}}
    &lt;li&gt;Hello, {{person.name}}! You're number {{index}} in line&lt;/li&gt;
  {{/each}}
&lt;/ul&gt;
</pre>
<h2 class="anchorable-toc" id="toc_empty-lists">Empty Lists</h2> <p>The <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_each"><code>{{#each}}</code></a> helper can have a corresponding <code>{{else}}</code>. The contents of this block will render if the array passed to <code>{{#each}}</code> is empty:</p> <pre class="highlight handlebars " data-language="html">{{#each people as |person|}}
  Hello, {{person.name}}!
{{else}}
  Sorry, nobody is here.
{{/each}}
</pre> <div class="_attribution">
  <p class="_attribution-p">
    © 2017 Yehuda Katz, Tom Dale and Ember.js contributors<br>Licensed under the MIT License.<br>
    <a href="https://guides.emberjs.com/v2.15.0/templates/displaying-a-list-of-items" class="_attribution-link">https://guides.emberjs.com/v2.15.0/templates/displaying-a-list-of-items</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
