
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Links - Ember.js - W3cubDocs</title>
  
  <meta name="description" content=" You create a link to a route using the {{link-to}} component. ">
  <meta name="keywords" content="links, ember, js">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/ember/templates/links.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-01fda2ddb8339756caccf7add5ad4cf849ab52d069bd799015c7f04f93164f64753bff0d15a49d8060b1e66e41002bb301ccadc2350937df079cea3cd52d3cca.css">
  <script src="/assets/application-d9be6f56a823612443fc15b2e027a630e02c4ad2685bb750d13fa4fae28d46c3e7f7ebb69bd4bafddf116f218f9372e9be44021d4247dc20424e2fd1ff8cef81.js" type="text/javascript"></script>
  <script src="/json/ember.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script data-ad-client="ca-pub-2572770204602497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/ember/" class="_nav-link" title="" style="margin-left:0;">Ember.js</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _ember">
				
				
<h1> Links  </h1>  <h2 class="anchorable-toc" id="toc_the-code-link-to-code-component">The <code>{{link-to}}</code> Component</h2> <p>You create a link to a route using the <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_link-to"><code>{{link-to}}</code></a> component.</p> <div class="pre-title"><code>app/router.js</code></div>
<pre class="highlight javascript " data-language="javascript">Router.map(function() {
  this.route('photos', function(){
    this.route('edit', { path: '/:photo_id' });
  });
});
</pre>
<div class="pre-title"><code>app/templates/photos.hbs</code></div>
<pre class="highlight handlebars " data-language="html">&lt;ul&gt;
  {{#each photos as |photo|}}
    &lt;li&gt;{{#link-to "photos.edit" photo}}{{photo.title}}{{/link-to}}&lt;/li&gt;
  {{/each}}
&lt;/ul&gt;
</pre> <p>If the model for the <code>photos</code> template is a list of three photos, the rendered HTML would look something like this:</p> <pre class="highlight html " data-language="html">&lt;ul&gt;
  &lt;li&gt;&lt;a href="/photos/1"&gt;Happy Kittens&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="/photos/2"&gt;Puppy Running&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="/photos/3"&gt;Mountain Landscape&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre> <p>The <code>{{link-to}}</code> component takes one or two arguments:</p> <ul> <li>The name of a route. In this example, it would be <code>index</code>, <code>photos</code>, or <code>photos.edit</code>.</li> <li>At most one model for each <a href="https://guides.emberjs.com/routing/defining-your-routes/#toc_dynamic-segments">dynamic segment</a>. By default, Ember.js will replace each segment with the value of the corresponding object's <code>id</code> property. In the example above, the second argument is each <code>photo</code> object, and the <code>id</code> property is used to fill in the dynamic segment with either <code>1</code>, <code>2</code>, or <code>3</code>. If there is no model to pass to the component, you can provide an explicit value instead:</li> </ul> <div class="pre-title"><code>app/templates/photos.hbs</code></div>
<pre class="highlight handlebars " data-language="html">{{#link-to "photos.edit" 1}}
  First Photo Ever
{{/link-to}}
</pre> <p>When the rendered link matches the current route, and the same object instance is passed into the component, then the link is given <code>class="active"</code>. For example, if you were at the URL <code>/photos/2</code>, the first example above would render as:</p> <pre class="highlight html " data-language="html">&lt;ul&gt;
  &lt;li&gt;&lt;a href="/photos/1"&gt;Happy Kittens&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="/photos/2" class="active"&gt;Puppy Running&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="/photos/3"&gt;Mountain Landscape&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
<h3 class="anchorable-toc" id="toc_example-for-multiple-segments">Example for Multiple Segments</h3> <p>If the route is nested, you can supply a model or an identifier for each dynamic segment.</p> <div class="pre-title"><code>app/router.js</code></div>
<pre class="highlight javascript " data-language="javascript">Router.map(function() {
  this.route('photos', function(){
    this.route('photo', { path: '/:photo_id' }, function(){
      this.route('comments');
      this.route('comment', { path: '/comments/:comment_id' });
    });
  });
});
</pre>
<div class="pre-title"><code>app/templates/photo/index.hbs</code></div>
<pre class="highlight handlebars " data-language="html">&lt;div class="photo"&gt;
  {{body}}
&lt;/div&gt;

&lt;p&gt;{{#link-to "photos.photo.comment" primaryComment}}Main Comment{{/link-to}}&lt;/p&gt;
</pre> <p>If you specify only one model, it will represent the innermost dynamic segment <code>:comment_id</code>. The <code>:photo_id</code> segment will use the current photo.</p> <p>Alternatively, you could pass both a photo's ID and a comment to the component:</p> <div class="pre-title"><code>app/templates/photo/index.hbs</code></div>
<pre class="highlight handlebars " data-language="html">&lt;p&gt;
  {{#link-to 'photo.comment' 5 primaryComment}}
    Main Comment for the Next Photo
  {{/link-to}}
&lt;/p&gt;
</pre> <p>In the above example, the model hook for <code>PhotoRoute</code> will run with <code>params.photo_id = 5</code>. The <code>model</code> hook for <code>CommentRoute</code> <em>won't</em> run since you supplied a model object for the <code>comment</code> segment. The comment's id will populate the url according to <code>CommentRoute</code>'s <code>serialize</code> hook.</p> <h3 class="anchorable-toc" id="toc_setting-query-params">Setting query-params</h3> <p>The <code>query-params</code> helper can be used to set query params on a link:</p> <pre class="highlight handlebars " data-language="html">// Explicitly set target query params
{{#link-to "posts" (query-params direction="asc")}}Sort{{/link-to}}

// Binding is also supported
{{#link-to "posts" (query-params direction=otherDirection)}}Sort{{/link-to}}
</pre>
<h3 class="anchorable-toc" id="toc_using-link-to-as-an-inline-component">Using link-to as an inline component</h3> <p>In addition to being used as a block expression, the <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_link-to"><code>link-to</code></a> component can also be used in inline form by specifying the link text as the first argument to the component:</p> <pre class="highlight handlebars " data-language="html">A link in {{#link-to "index"}}Block Expression Form{{/link-to}},
and a link in {{link-to "Inline Form" "index"}}.
</pre> <p>The output of the above would be:</p> <pre class="highlight html " data-language="html">A link in &lt;a href="/"&gt;Block Expression Form&lt;/a&gt;,
and a link in &lt;a href="/"&gt;Inline Form&lt;/a&gt;.
</pre>
<h3 class="anchorable-toc" id="toc_adding-additional-attributes-on-a-link">Adding additional attributes on a link</h3> <p>When generating a link you might want to set additional attributes for it. You can do this with additional arguments to the <code>link-to</code> component:</p> <pre class="highlight handlebars " data-language="html">&lt;p&gt;
  {{link-to "Edit this photo" "photo.edit" photo class="btn btn-primary"}}
&lt;/p&gt;
</pre> <p>Many of the common HTML properties you would want to use like <code>class</code>, and <code>rel</code> will work. When adding class names, Ember will also apply the standard <code>ember-view</code> and possibly <code>active</code> class names.</p> <h3 class="anchorable-toc" id="toc_replacing-history-entries">Replacing history entries</h3> <p>The default behavior for <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_link-to"><code>link-to</code></a> is to add entries to the browser's history when transitioning between the routes. However, to replace the current entry in the browser's history you can use the <code>replace=true</code> option:</p> <pre class="highlight handlebars " data-language="html">&lt;p&gt;
  {{#link-to "photo.comment" 5 primaryComment replace=true}}
    Main Comment for the Next Photo
  {{/link-to}}
&lt;/p&gt;
</pre> <div class="_attribution">
  <p class="_attribution-p">
    © 2017 Yehuda Katz, Tom Dale and Ember.js contributors<br>Licensed under the MIT License.<br>
    <a href="https://guides.emberjs.com/v2.15.0/templates/links" class="_attribution-link">https://guides.emberjs.com/v2.15.0/templates/links</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
