
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Finder - Symfony 4.1 - W3cubDocs</title>
  
  <meta name="description" content=" class Finder implements IteratorAggregate, Countable ">
  <meta name="keywords" content="finder, symfony, symfony~4.1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/symfony~4.1/symfony/component/finder/finder.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-e4ebd3a2a5652ff55173659804c4390a004917f3bdd17b5bb3ba78ea5c9c46fe181cadaac34517ccd815f5bdc982bbfe67179d6f4ac2f084ef2265e2a3dc8dc5.css" integrity="sha512-5OvToqVlL/VRc2WYBMQ5CgBJF/O90Xtbs7p46lycRv4YHK2qw0UXzNgV9b3Jgrv+Zxedb0rC8ITvImXio9yNxQ==" crossorigin="anonymous">
  <script type="text/javascript" integrity="sha512-EpkDeu98lN/jPKijllzVWdRg/dUSSMCaldYZNFz6bcNoBvpWRNz0HSTRQJ3ENmQc5Cuj1zDW1vHd7b0DzpOgyA==" crossorigin="anonymous" src="/assets/application-1299037aef7c94dfe33ca8a3965cd559d460fdd51248c09a95d619345cfa6dc36806fa5644dcf41d24d1409dc436641ce42ba3d730d6d6f1ddedbd03ce93a0c8.js"></script>
  <script src="/json/symfony~4.1.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script data-ad-client="ca-pub-2572770204602497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body>
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">
  
  <form class="_search">
    <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
    <a class="_search-clear"></a>
    <div class="_search-tag"></div>
  </form>
  
  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~4.1/" class="_nav-link" title="" style="margin-left:0;">Symfony 4.1</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _laravel">
				
				
<h1> Finder </h1> <p> class <strong>Finder</strong> implements <a target="_blank" href="http://php.net/IteratorAggregate">IteratorAggregate</a>, <a target="_blank" href="http://php.net/Countable">Countable</a> </p> <div class="description"> <p>Finder allows to build rules to find files and directories.</p> <p>It is a thin wrapper around several specialized iterator classes.</p> <p>All rules may be invoked several times.</p> <p>All methods return the current Finder object to allow easy chaining:</p> <pre><code>$finder = Finder::create()-&gt;files()-&gt;name('*.php')-&gt;in(__DIR__);
</code></pre> </div> <h2>Constants</h2> <table class="table table-condensed"> <tr> <td>IGNORE_VCS_FILES</td> <td class="last">   </td> </tr> <tr> <td>IGNORE_DOT_FILES</td> <td class="last">   </td> </tr> </table> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>()  </td> <td></td>
</tr>  <tr> <td> static <a href="finder" title="Symfony\Component\Finder\Finder">Finder</a> </td> <td> <a href="#method_create">create</a>() <p>Creates a new Finder.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_directories">directories</a>() <p>Restricts the matching to directories only.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_files">files</a>() <p>Restricts the matching to files only.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_depth">depth</a>(string|int $level) <p>Adds tests for the directory depth.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_date">date</a>(string $date) <p>Adds tests for file dates (last modified).</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_name">name</a>(string $pattern) <p>Adds rules that files must match.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_notName">notName</a>(string $pattern) <p>Adds rules that files must not match.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_contains">contains</a>(string $pattern) <p>Adds tests that file contents must match.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_notContains">notContains</a>(string $pattern) <p>Adds tests that file contents must not match.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_path">path</a>(string $pattern) <p>Adds rules that filenames must match.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_notPath">notPath</a>(string $pattern) <p>Adds rules that filenames must not match.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_size">size</a>(string|int $size) <p>Adds tests for file sizes.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_exclude">exclude</a>(string|array $dirs) <p>Excludes directories.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_ignoreDotFiles">ignoreDotFiles</a>(bool $ignoreDotFiles) <p>Excludes "hidden" directories and files (starting with a dot).</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_ignoreVCS">ignoreVCS</a>(bool $ignoreVCS) <p>Forces the finder to ignore version control directories.</p> </td> <td></td>
</tr>  <tr> <td> static </td> <td> <a href="#method_addVCSPattern">addVCSPattern</a>(string|string[] $pattern) <p>Adds VCS patterns.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_sort">sort</a>(<a target="_blank" href="http://php.net/Closure">Closure</a> $closure) <p>Sorts files and directories by an anonymous function.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_sortByName">sortByName</a>() <p>Sorts files and directories by name.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_sortByType">sortByType</a>() <p>Sorts files and directories by type (directories before files), then by name.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_sortByAccessedTime">sortByAccessedTime</a>() <p>Sorts files and directories by the last accessed time.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_sortByChangedTime">sortByChangedTime</a>() <p>Sorts files and directories by the last inode changed time.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_sortByModifiedTime">sortByModifiedTime</a>() <p>Sorts files and directories by the last modified time.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_filter">filter</a>(<a target="_blank" href="http://php.net/Closure">Closure</a> $closure) <p>Filters the iterator with an anonymous function.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_followLinks">followLinks</a>() <p>Forces the following of symlinks.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_ignoreUnreadableDirs">ignoreUnreadableDirs</a>(bool $ignore = true) <p>Tells finder to ignore unreadable directories.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_in">in</a>(string|array $dirs) <p>Searches files and directories which match defined rules.</p> </td> <td></td>
</tr>  <tr> <td> <a target="_blank" href="http://php.net/Iterator">Iterator</a>|<a href="splfileinfo" title="Symfony\Component\Finder\SplFileInfo">SplFileInfo</a>[] </td> <td> <a href="#method_getIterator">getIterator</a>() <p>Returns an Iterator for the current Finder configuration.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_append">append</a>(iterable $iterator) <p>Appends an existing set of files/directories to the finder.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_hasResults">hasResults</a>() <p>Check if the any results were found.</p> </td> <td></td>
</tr>  <tr> <td> int </td> <td> <a href="#method_count">count</a>() <p>Counts all the results collected by the iterators.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct()
         </h3>       <h3 id="method_create">          static            <a href="finder" title="Symfony\Component\Finder\Finder">Finder</a>
    create()
         </h3>   <p>Creates a new Finder.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="finder" title="Symfony\Component\Finder\Finder">Finder</a></td> <td></td> </tr> </table>     <h3 id="method_directories">                      $this
    directories()
         </h3>   <p>Restricts the matching to directories only.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_files">                      $this
    files()
         </h3>   <p>Restricts the matching to files only.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_depth">                      $this
    depth(string|int $level)
         </h3>   <p>Adds tests for the directory depth.</p> <p>Usage:</p> <pre><code>$finder-&gt;depth('&gt; 1') // the Finder will start matching at level 1.
$finder-&gt;depth('&lt; 3') // the Finder will descend at most 3 levels of directories below the starting point.
</code></pre>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|int</td> <td>$level</td> <td>The depth level expression</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/depthrangefilteriterator" title="Symfony\Component\Finder\Iterator\DepthRangeFilterIterator">DepthRangeFilterIterator</a> </td> <td></td> </tr> <tr> <td> <a href="comparator/numbercomparator" title="Symfony\Component\Finder\Comparator\NumberComparator">NumberComparator</a> </td> <td></td> </tr> </table>     <h3 id="method_date">                      $this
    date(string $date)
         </h3>   <p>Adds tests for file dates (last modified).</p> <p>The date must be something that strtotime() is able to parse:</p> <pre><code>$finder-&gt;date('since yesterday');
$finder-&gt;date('until 2 days ago');
$finder-&gt;date('&gt; now - 2 hours');
$finder-&gt;date('&gt;= 2005-10-15');
</code></pre>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$date</td> <td>A date range string</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> strtotime </td> <td></td> </tr> <tr> <td> <a href="iterator/daterangefilteriterator" title="Symfony\Component\Finder\Iterator\DateRangeFilterIterator">DateRangeFilterIterator</a> </td> <td></td> </tr> <tr> <td> <a href="comparator/datecomparator" title="Symfony\Component\Finder\Comparator\DateComparator">DateComparator</a> </td> <td></td> </tr> </table>     <h3 id="method_name">                      $this
    name(string $pattern)
         </h3>   <p>Adds rules that files must match.</p> <p>You can use patterns (delimited with / sign), globs or simple strings.</p> <pre><code>$finder-&gt;name('*.php')
$finder-&gt;name('/\.php$/') // same as above
$finder-&gt;name('test.php')
</code></pre>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$pattern</td> <td>A pattern (a regexp, a glob, or a string)</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/filenamefilteriterator" title="Symfony\Component\Finder\Iterator\FilenameFilterIterator">FilenameFilterIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_notName">                      $this
    notName(string $pattern)
         </h3>   <p>Adds rules that files must not match.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$pattern</td> <td>A pattern (a regexp, a glob, or a string)</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/filenamefilteriterator" title="Symfony\Component\Finder\Iterator\FilenameFilterIterator">FilenameFilterIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_contains">                      $this
    contains(string $pattern)
         </h3>   <p>Adds tests that file contents must match.</p> <p>Strings or PCRE patterns can be used:</p> <pre><code>$finder-&gt;contains('Lorem ipsum')
$finder-&gt;contains('/Lorem ipsum/i')
</code></pre>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$pattern</td> <td>A pattern (string or regexp)</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/filecontentfilteriterator" title="Symfony\Component\Finder\Iterator\FilecontentFilterIterator">FilecontentFilterIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_notContains">                      $this
    notContains(string $pattern)
         </h3>   <p>Adds tests that file contents must not match.</p> <p>Strings or PCRE patterns can be used:</p> <pre><code>$finder-&gt;notContains('Lorem ipsum')
$finder-&gt;notContains('/Lorem ipsum/i')
</code></pre>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$pattern</td> <td>A pattern (string or regexp)</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/filecontentfilteriterator" title="Symfony\Component\Finder\Iterator\FilecontentFilterIterator">FilecontentFilterIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_path">                      $this
    path(string $pattern)
         </h3>   <p>Adds rules that filenames must match.</p> <p>You can use patterns (delimited with / sign) or simple strings.</p> <pre><code>$finder-&gt;path('some/special/dir')
$finder-&gt;path('/some\/special\/dir/') // same as above
</code></pre> <p>Use only / as dirname separator.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$pattern</td> <td>A pattern (a regexp or a string)</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/filenamefilteriterator" title="Symfony\Component\Finder\Iterator\FilenameFilterIterator">FilenameFilterIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_notPath">                      $this
    notPath(string $pattern)
         </h3>   <p>Adds rules that filenames must not match.</p> <p>You can use patterns (delimited with / sign) or simple strings.</p> <pre><code>$finder-&gt;notPath('some/special/dir')
$finder-&gt;notPath('/some\/special\/dir/') // same as above
</code></pre> <p>Use only / as dirname separator.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$pattern</td> <td>A pattern (a regexp or a string)</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/filenamefilteriterator" title="Symfony\Component\Finder\Iterator\FilenameFilterIterator">FilenameFilterIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_size">                      $this
    size(string|int $size)
         </h3>   <p>Adds tests for file sizes.</p> <p>$finder-&gt;size('&gt; 10K'); $finder-&gt;size('&lt;= 1Ki'); $finder-&gt;size(4);</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|int</td> <td>$size</td> <td>A size range string or an integer</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/sizerangefilteriterator" title="Symfony\Component\Finder\Iterator\SizeRangeFilterIterator">SizeRangeFilterIterator</a> </td> <td></td> </tr> <tr> <td> <a href="comparator/numbercomparator" title="Symfony\Component\Finder\Comparator\NumberComparator">NumberComparator</a> </td> <td></td> </tr> </table>     <h3 id="method_exclude">                      $this
    exclude(string|array $dirs)
         </h3>   <p>Excludes directories.</p> <p>Directories passed as argument must be relative to the ones defined with the <code>in()</code> method. For example:</p> <pre><code>$finder-&gt;in(__DIR__)-&gt;exclude('ruby');
</code></pre>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|array</td> <td>$dirs</td> <td>A directory path or an array of directories</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/excludedirectoryfilteriterator" title="Symfony\Component\Finder\Iterator\ExcludeDirectoryFilterIterator">ExcludeDirectoryFilterIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_ignoreDotFiles">                      $this
    ignoreDotFiles(bool $ignoreDotFiles)
         </h3>   <p>Excludes "hidden" directories and files (starting with a dot).</p> <p>This option is enabled by default.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$ignoreDotFiles</td> <td>Whether to exclude "hidden" files or not</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/excludedirectoryfilteriterator" title="Symfony\Component\Finder\Iterator\ExcludeDirectoryFilterIterator">ExcludeDirectoryFilterIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_ignoreVCS">                      $this
    ignoreVCS(bool $ignoreVCS)
         </h3>   <p>Forces the finder to ignore version control directories.</p> <p>This option is enabled by default.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$ignoreVCS</td> <td>Whether to exclude VCS files or not</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/excludedirectoryfilteriterator" title="Symfony\Component\Finder\Iterator\ExcludeDirectoryFilterIterator">ExcludeDirectoryFilterIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_addVCSPattern">          static            
    addVCSPattern(string|string[] $pattern)
         </h3>   <p>Adds VCS patterns.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|string[]</td> <td>$pattern</td> <td>VCS patterns to ignore</td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> ignoreVCS() </td> <td></td> </tr> </table>     <h3 id="method_sort">                      $this
    sort(<a target="_blank" href="http://php.net/Closure">Closure</a> $closure)
         </h3>   <p>Sorts files and directories by an anonymous function.</p> <p>The anonymous function receives two \SplFileInfo instances to compare.</p> <p>This can be slow as all the matching files and directories must be retrieved for comparison.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/Closure">Closure</a></td> <td>$closure</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/sortableiterator" title="Symfony\Component\Finder\Iterator\SortableIterator">SortableIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_sortByName">                      $this
    sortByName()
         </h3>   <p>Sorts files and directories by name.</p> <p>This can be slow as all the matching files and directories must be retrieved for comparison.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/sortableiterator" title="Symfony\Component\Finder\Iterator\SortableIterator">SortableIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_sortByType">                      $this
    sortByType()
         </h3>   <p>Sorts files and directories by type (directories before files), then by name.</p> <p>This can be slow as all the matching files and directories must be retrieved for comparison.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/sortableiterator" title="Symfony\Component\Finder\Iterator\SortableIterator">SortableIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_sortByAccessedTime">                      $this
    sortByAccessedTime()
         </h3>   <p>Sorts files and directories by the last accessed time.</p> <p>This is the time that the file was last accessed, read or written to.</p> <p>This can be slow as all the matching files and directories must be retrieved for comparison.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/sortableiterator" title="Symfony\Component\Finder\Iterator\SortableIterator">SortableIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_sortByChangedTime">                      $this
    sortByChangedTime()
         </h3>   <p>Sorts files and directories by the last inode changed time.</p> <p>This is the time that the inode information was last modified (permissions, owner, group or other metadata).</p> <p>On Windows, since inode is not available, changed time is actually the file creation time.</p> <p>This can be slow as all the matching files and directories must be retrieved for comparison.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/sortableiterator" title="Symfony\Component\Finder\Iterator\SortableIterator">SortableIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_sortByModifiedTime">                      $this
    sortByModifiedTime()
         </h3>   <p>Sorts files and directories by the last modified time.</p> <p>This is the last time the actual contents of the file were last modified.</p> <p>This can be slow as all the matching files and directories must be retrieved for comparison.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/sortableiterator" title="Symfony\Component\Finder\Iterator\SortableIterator">SortableIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_filter">                      $this
    filter(<a target="_blank" href="http://php.net/Closure">Closure</a> $closure)
         </h3>   <p>Filters the iterator with an anonymous function.</p> <p>The anonymous function receives a \SplFileInfo and must return false to remove files.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/Closure">Closure</a></td> <td>$closure</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> <a href="iterator/customfilteriterator" title="Symfony\Component\Finder\Iterator\CustomFilterIterator">CustomFilterIterator</a> </td> <td></td> </tr> </table>     <h3 id="method_followLinks">                      $this
    followLinks()
         </h3>   <p>Forces the following of symlinks.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_ignoreUnreadableDirs">                      $this
    ignoreUnreadableDirs(bool $ignore = true)
         </h3>   <p>Tells finder to ignore unreadable directories.</p> <p>By default, scanning unreadable directories content throws an AccessDeniedException.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$ignore</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_in">                      $this
    in(string|array $dirs)
         </h3>   <p>Searches files and directories which match defined rules.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|array</td> <td>$dirs</td> <td>A directory path or an array of directories</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/InvalidArgumentException">InvalidArgumentException</a></td> <td>if one of the directories does not exist</td> </tr> </table>     <h3 id="method_getIterator">                      <a target="_blank" href="http://php.net/Iterator">Iterator</a>|<a href="splfileinfo" title="Symfony\Component\Finder\SplFileInfo">SplFileInfo</a>[]
    getIterator()
         </h3>   <p>Returns an Iterator for the current Finder configuration.</p> <p>This method implements the IteratorAggregate interface.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a target="_blank" href="http://php.net/Iterator">Iterator</a>|<a href="splfileinfo" title="Symfony\Component\Finder\SplFileInfo">SplFileInfo</a>[]</td> <td>An iterator</td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/LogicException">LogicException</a></td> <td>if the in() method has not been called</td> </tr> </table>     <h3 id="method_append">                      $this
    append(iterable $iterator)
         </h3>   <p>Appends an existing set of files/directories to the finder.</p> <p>The set can be another Finder, an Iterator, an IteratorAggregate, or even a plain array.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>iterable</td> <td>$iterator</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/InvalidArgumentException">InvalidArgumentException</a></td> <td>when the given argument is not iterable</td> </tr> </table>     <h3 id="method_hasResults">                      bool
    hasResults()
         </h3>   <p>Check if the any results were found.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_count">                      int
    count()
         </h3>   <p>Counts all the results collected by the iterators.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>int</td> <td></td> </tr> </table>    </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Finder/Finder.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Finder/Finder.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
