
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>FormRenderer - Symfony 4.1 - W3cubDocs</title>
  
  <meta name="description" content=" class FormRenderer implements FormRendererInterface ">
  <meta name="keywords" content="formrenderer, symfony, symfony~4.1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/symfony~4.1/symfony/component/form/formrenderer.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-e4ebd3a2a5652ff55173659804c4390a004917f3bdd17b5bb3ba78ea5c9c46fe181cadaac34517ccd815f5bdc982bbfe67179d6f4ac2f084ef2265e2a3dc8dc5.css" integrity="sha512-5OvToqVlL/VRc2WYBMQ5CgBJF/O90Xtbs7p46lycRv4YHK2qw0UXzNgV9b3Jgrv+Zxedb0rC8ITvImXio9yNxQ==" crossorigin="anonymous">
  <script type="text/javascript" integrity="sha512-EpkDeu98lN/jPKijllzVWdRg/dUSSMCaldYZNFz6bcNoBvpWRNz0HSTRQJ3ENmQc5Cuj1zDW1vHd7b0DzpOgyA==" crossorigin="anonymous" src="/assets/application-1299037aef7c94dfe33ca8a3965cd559d460fdd51248c09a95d619345cfa6dc36806fa5644dcf41d24d1409dc436641ce42ba3d730d6d6f1ddedbd03ce93a0c8.js"></script>
  <script src="/json/symfony~4.1.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script data-ad-client="ca-pub-2572770204602497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body>
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">
  
  <form class="_search">
    <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
    <a class="_search-clear"></a>
    <div class="_search-tag"></div>
  </form>
  
  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~4.1/" class="_nav-link" title="" style="margin-left:0;">Symfony 4.1</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _laravel">
				
				
<h1> FormRenderer </h1> <p> class <strong>FormRenderer</strong> implements <a href="formrendererinterface" title="Symfony\Component\Form\FormRendererInterface">FormRendererInterface</a> </p> <div class="description"> <p>Renders a form into HTML using a rendering engine.</p> </div> <h2>Constants</h2> <table class="table table-condensed"> <tr> <td>CACHE_KEY_VAR</td> <td class="last">   </td> </tr> </table> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(<a href="formrendererengineinterface" title="Symfony\Component\Form\FormRendererEngineInterface">FormRendererEngineInterface</a> $engine, <a href="../security/csrf/csrftokenmanagerinterface" title="Symfony\Component\Security\Csrf\CsrfTokenManagerInterface">CsrfTokenManagerInterface</a> $csrfTokenManager = null)  </td> <td></td>
</tr>  <tr> <td> <a href="formrendererengineinterface" title="Symfony\Component\Form\FormRendererEngineInterface">FormRendererEngineInterface</a> </td> <td> <a href="#method_getEngine">getEngine</a>() <p>Returns the engine used by this renderer.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setTheme">setTheme</a>(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $view, mixed $themes, bool $useDefaultThemes = true) <p>Sets the theme(s) to be used for rendering a view and its children.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_renderCsrfToken">renderCsrfToken</a>(string $tokenId) <p>Renders a CSRF token.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_renderBlock">renderBlock</a>(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $view, string $blockName, array $variables = array()) <p>Renders a named block of the form theme.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_searchAndRenderBlock">searchAndRenderBlock</a>(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $view, string $blockNameSuffix, array $variables = array()) <p>Searches and renders a block for a given name suffix.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_humanize">humanize</a>(string $text) <p>Makes a technical name human readable.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_encodeCurrency">encodeCurrency</a>(Environment $environment, $text, $widget = '')  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(<a href="formrendererengineinterface" title="Symfony\Component\Form\FormRendererEngineInterface">FormRendererEngineInterface</a> $engine, <a href="../security/csrf/csrftokenmanagerinterface" title="Symfony\Component\Security\Csrf\CsrfTokenManagerInterface">CsrfTokenManagerInterface</a> $csrfTokenManager = null)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="formrendererengineinterface" title="Symfony\Component\Form\FormRendererEngineInterface">FormRendererEngineInterface</a></td> <td>$engine</td> <td></td> </tr> <tr> <td><a href="../security/csrf/csrftokenmanagerinterface" title="Symfony\Component\Security\Csrf\CsrfTokenManagerInterface">CsrfTokenManagerInterface</a></td> <td>$csrfTokenManager</td> <td></td> </tr> </table>     <h3 id="method_getEngine">                      <a href="formrendererengineinterface" title="Symfony\Component\Form\FormRendererEngineInterface">FormRendererEngineInterface</a>
    getEngine()
         </h3>   <p>Returns the engine used by this renderer.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="formrendererengineinterface" title="Symfony\Component\Form\FormRendererEngineInterface">FormRendererEngineInterface</a></td> <td>The renderer engine</td> </tr> </table>     <h3 id="method_setTheme">                      
    setTheme(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $view, mixed $themes, bool $useDefaultThemes = true)
         </h3>   <p>Sets the theme(s) to be used for rendering a view and its children.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="formview" title="Symfony\Component\Form\FormView">FormView</a></td> <td>$view</td> <td>The view to assign the theme(s) to</td> </tr> <tr> <td>mixed</td> <td>$themes</td> <td>The theme(s). The type of these themes is open to the implementation.</td> </tr> <tr> <td>bool</td> <td>$useDefaultThemes</td> <td>If true, will use default themes specified in the renderer</td> </tr> </table>     <h3 id="method_renderCsrfToken">                      string
    renderCsrfToken(string $tokenId)
         </h3>   <p>Renders a CSRF token.</p> <p>Use this helper for CSRF protection without the overhead of creating a form.</p> <pre><code>&lt;input type="hidden" name="token" value="&lt;?php $renderer-&gt;renderCsrfToken('rm_user_'.$user-&gt;getId()) ?&gt;"&gt;
</code></pre> <p>Check the token in your action using the same token ID.</p> <pre><code>// $csrfProvider being an instance of Symfony\Component\Security\Csrf\TokenGenerator\TokenGeneratorInterface
if (!$csrfProvider-&gt;isCsrfTokenValid('rm_user_'.$user-&gt;getId(), $token)) {
    throw new \RuntimeException('CSRF attack detected.');
}
</code></pre>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$tokenId</td> <td>The ID of the CSRF token</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>A CSRF token</td> </tr> </table>     <h3 id="method_renderBlock">                      string
    renderBlock(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $view, string $blockName, array $variables = array())
         </h3>   <p>Renders a named block of the form theme.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="formview" title="Symfony\Component\Form\FormView">FormView</a></td> <td>$view</td> <td>The view for which to render the block</td> </tr> <tr> <td>string</td> <td>$blockName</td> <td>The name of the block</td> </tr> <tr> <td>array</td> <td>$variables</td> <td>The variables to pass to the template</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The HTML markup</td> </tr> </table>     <h3 id="method_searchAndRenderBlock">                      string
    searchAndRenderBlock(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $view, string $blockNameSuffix, array $variables = array())
         </h3>   <p>Searches and renders a block for a given name suffix.</p> <p>The block is searched by combining the block names stored in the form view with the given suffix. If a block name is found, that block is rendered.</p> <p>If this method is called recursively, the block search is continued where a block was found before.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="formview" title="Symfony\Component\Form\FormView">FormView</a></td> <td>$view</td> <td>The view for which to render the block</td> </tr> <tr> <td>string</td> <td>$blockNameSuffix</td> <td>The suffix of the block name</td> </tr> <tr> <td>array</td> <td>$variables</td> <td>The variables to pass to the template</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The HTML markup</td> </tr> </table>     <h3 id="method_humanize">                      string
    humanize(string $text)
         </h3>   <p>Makes a technical name human readable.</p> <p>Sequences of underscores are replaced by single spaces. The first letter of the resulting string is capitalized, while all other letters are turned to lowercase.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$text</td> <td>The text to humanize</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The humanized text</td> </tr> </table>     <h3 id="method_encodeCurrency">                      
    encodeCurrency(Environment $environment, $text, $widget = '')
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>Environment</td> <td>$environment</td> <td></td> </tr> <tr> <td></td> <td>$text</td> <td></td> </tr> <tr> <td></td> <td>$widget</td> <td></td> </tr> </table>    </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Form/FormRenderer.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Form/FormRenderer.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
