
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>FormTypeGuesserChain - Symfony 4.1 - W3cubDocs</title>
  
  <meta name="description" content=" class FormTypeGuesserChain implements FormTypeGuesserInterface ">
  <meta name="keywords" content="formtypeguesserchain, symfony, symfony~4.1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/symfony~4.1/symfony/component/form/formtypeguesserchain.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-e498cd0ebe8746846fec95b1a53ab3bb0fb7f47f794f0a38f44c98a1f0d03b21d777ae2c583732e44a5a890f6eacb79a5333545db9d5f3616091ba21ca17d916.css">
  <script src="/assets/application-79c555f6b25481fffac2cac30a7f3e54e608ca09e9e8e42bb1790095ba6d0fcace47d6bc624ddce952c70370892f2d46864f89e6943d4f7f7ff16c8a3231a91a.js" type="text/javascript"></script>
  <script src="/json/symfony~4.1.js"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R3WC07G3GB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-R3WC07G3GB');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2572770204602497"
     crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~4.1/" class="_nav-link" title="" style="margin-left:0;">Symfony 4.1</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _laravel">
				
				
<h1> FormTypeGuesserChain </h1> <p> class <strong>FormTypeGuesserChain</strong> implements <a href="formtypeguesserinterface" title="Symfony\Component\Form\FormTypeGuesserInterface">FormTypeGuesserInterface</a> </p> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(iterable $guessers)  </td> <td></td>
</tr>  <tr> <td> <a href="guess/typeguess" title="Symfony\Component\Form\Guess\TypeGuess">TypeGuess</a>|null </td> <td> <a href="#method_guessType">guessType</a>(string $class, string $property) <p>Returns a field guess for a property name of a class.</p> </td> <td></td>
</tr>  <tr> <td> <a href="guess/valueguess" title="Symfony\Component\Form\Guess\ValueGuess">ValueGuess</a> </td> <td> <a href="#method_guessRequired">guessRequired</a>(string $class, string $property) <p>Returns a guess whether a property of a class is required.</p> </td> <td></td>
</tr>  <tr> <td> <a href="guess/valueguess" title="Symfony\Component\Form\Guess\ValueGuess">ValueGuess</a>|null </td> <td> <a href="#method_guessMaxLength">guessMaxLength</a>(string $class, string $property) <p>Returns a guess about the field's maximum length.</p> </td> <td></td>
</tr>  <tr> <td> <a href="guess/valueguess" title="Symfony\Component\Form\Guess\ValueGuess">ValueGuess</a>|null </td> <td> <a href="#method_guessPattern">guessPattern</a>(string $class, string $property) <p>Returns a guess about the field's pattern.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(iterable $guessers)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>iterable</td> <td>$guessers</td> <td>Guessers as instances of FormTypeGuesserInterface</td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a href="exception/unexpectedtypeexception" title="Symfony\Component\Form\Exception\UnexpectedTypeException">UnexpectedTypeException</a></td> <td>if any guesser does not implement FormTypeGuesserInterface</td> </tr> </table>     <h3 id="method_guessType">                      <a href="guess/typeguess" title="Symfony\Component\Form\Guess\TypeGuess">TypeGuess</a>|null
    guessType(string $class, string $property)
         </h3>   <p>Returns a field guess for a property name of a class.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$class</td> <td>The fully qualified class name</td> </tr> <tr> <td>string</td> <td>$property</td> <td>The name of the property to guess for</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="guess/typeguess" title="Symfony\Component\Form\Guess\TypeGuess">TypeGuess</a>|null</td> <td>A guess for the field's type and options</td> </tr> </table>     <h3 id="method_guessRequired">                      <a href="guess/valueguess" title="Symfony\Component\Form\Guess\ValueGuess">ValueGuess</a>
    guessRequired(string $class, string $property)
         </h3>   <p>Returns a guess whether a property of a class is required.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$class</td> <td>The fully qualified class name</td> </tr> <tr> <td>string</td> <td>$property</td> <td>The name of the property to guess for</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="guess/valueguess" title="Symfony\Component\Form\Guess\ValueGuess">ValueGuess</a></td> <td>A guess for the field's required setting</td> </tr> </table>     <h3 id="method_guessMaxLength">                      <a href="guess/valueguess" title="Symfony\Component\Form\Guess\ValueGuess">ValueGuess</a>|null
    guessMaxLength(string $class, string $property)
         </h3>   <p>Returns a guess about the field's maximum length.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$class</td> <td>The fully qualified class name</td> </tr> <tr> <td>string</td> <td>$property</td> <td>The name of the property to guess for</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="guess/valueguess" title="Symfony\Component\Form\Guess\ValueGuess">ValueGuess</a>|null</td> <td>A guess for the field's maximum length</td> </tr> </table>     <h3 id="method_guessPattern">                      <a href="guess/valueguess" title="Symfony\Component\Form\Guess\ValueGuess">ValueGuess</a>|null
    guessPattern(string $class, string $property)
         </h3>   <p>Returns a guess about the field's pattern.</p> 
<ul> <li>When you have a min value, you guess a min length of this min (LOW_CONFIDENCE) , lines below</li> <li>If this value is a float type, this is wrong so you guess null with MEDIUM_CONFIDENCE to override the previous guess. Example: You want a float greater than 5, 4.512313 is not valid but length(4.512314) &gt; length(5)</li> </ul>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$class</td> <td>The fully qualified class name</td> </tr> <tr> <td>string</td> <td>$property</td> <td>The name of the property to guess for</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="guess/valueguess" title="Symfony\Component\Form\Guess\ValueGuess">ValueGuess</a>|null</td> <td>A guess for the field's required pattern</td> </tr> </table>    </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Form/FormTypeGuesserChain.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Form/FormTypeGuesserChain.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
