
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>ResolvedFormType - Symfony 4.1 - W3cubDocs</title>
  
  <meta name="description" content=" class ResolvedFormType implements ResolvedFormTypeInterface ">
  <meta name="keywords" content="resolvedformtype, symfony, symfony~4.1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/symfony~4.1/symfony/component/form/resolvedformtype.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-e498cd0ebe8746846fec95b1a53ab3bb0fb7f47f794f0a38f44c98a1f0d03b21d777ae2c583732e44a5a890f6eacb79a5333545db9d5f3616091ba21ca17d916.css">
  <script src="/assets/application-79c555f6b25481fffac2cac30a7f3e54e608ca09e9e8e42bb1790095ba6d0fcace47d6bc624ddce952c70370892f2d46864f89e6943d4f7f7ff16c8a3231a91a.js" type="text/javascript"></script>
  <script src="/json/symfony~4.1.js"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R3WC07G3GB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-R3WC07G3GB');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2572770204602497"
     crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~4.1/" class="_nav-link" title="" style="margin-left:0;">Symfony 4.1</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _laravel">
				
				
<h1> ResolvedFormType </h1> <p> class <strong>ResolvedFormType</strong> implements <a href="resolvedformtypeinterface" title="Symfony\Component\Form\ResolvedFormTypeInterface">ResolvedFormTypeInterface</a> </p> <div class="description"> <p>A wrapper for a form type and its extensions.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(<a href="formtypeinterface" title="Symfony\Component\Form\FormTypeInterface">FormTypeInterface</a> $innerType, array $typeExtensions = array(), <a href="resolvedformtypeinterface" title="Symfony\Component\Form\ResolvedFormTypeInterface">ResolvedFormTypeInterface</a> $parent = null)  </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getBlockPrefix">getBlockPrefix</a>() <p>Returns the prefix of the template block name for this type.</p> </td> <td></td>
</tr>  <tr> <td> <a href="resolvedformtypeinterface" title="Symfony\Component\Form\ResolvedFormTypeInterface">ResolvedFormTypeInterface</a>|null </td> <td> <a href="#method_getParent">getParent</a>() <p>Returns the parent type.</p> </td> <td></td>
</tr>  <tr> <td> <a href="formtypeinterface" title="Symfony\Component\Form\FormTypeInterface">FormTypeInterface</a> </td> <td> <a href="#method_getInnerType">getInnerType</a>() <p>Returns the wrapped form type.</p> </td> <td></td>
</tr>  <tr> <td> <a href="formtypeextensioninterface" title="Symfony\Component\Form\FormTypeExtensionInterface">FormTypeExtensionInterface</a>[] </td> <td> <a href="#method_getTypeExtensions">getTypeExtensions</a>() <p>Returns the extensions of the wrapped form type.</p> </td> <td></td>
</tr>  <tr> <td> <a href="formbuilderinterface" title="Symfony\Component\Form\FormBuilderInterface">FormBuilderInterface</a> </td> <td> <a href="#method_createBuilder">createBuilder</a>(<a href="formfactoryinterface" title="Symfony\Component\Form\FormFactoryInterface">FormFactoryInterface</a> $factory, string $name, array $options = array()) <p>Creates a new form builder for this type.</p> </td> <td></td>
</tr>  <tr> <td> <a href="formview" title="Symfony\Component\Form\FormView">FormView</a> </td> <td> <a href="#method_createView">createView</a>(<a href="forminterface" title="Symfony\Component\Form\FormInterface">FormInterface</a> $form, <a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $parent = null) <p>Creates a new form view for a form of this type.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_buildForm">buildForm</a>(<a href="formbuilderinterface" title="Symfony\Component\Form\FormBuilderInterface">FormBuilderInterface</a> $builder, array $options) <p>Configures a form builder for the type hierarchy.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_buildView">buildView</a>(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $view, <a href="forminterface" title="Symfony\Component\Form\FormInterface">FormInterface</a> $form, array $options) <p>Configures a form view for the type hierarchy.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_finishView">finishView</a>(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $view, <a href="forminterface" title="Symfony\Component\Form\FormInterface">FormInterface</a> $form, array $options) <p>Finishes a form view for the type hierarchy.</p> </td> <td></td>
</tr>  <tr> <td> <a href="../optionsresolver/optionsresolver" title="Symfony\Component\OptionsResolver\OptionsResolver">OptionsResolver</a> </td> <td> <a href="#method_getOptionsResolver">getOptionsResolver</a>() <p>Returns the configured options resolver used for this type.</p> </td> <td></td>
</tr>  <tr> <td> <a href="formbuilderinterface" title="Symfony\Component\Form\FormBuilderInterface">FormBuilderInterface</a> </td> <td> <a href="#method_newBuilder">newBuilder</a>(string $name, string $dataClass, <a href="formfactoryinterface" title="Symfony\Component\Form\FormFactoryInterface">FormFactoryInterface</a> $factory, array $options) <p>Creates a new builder instance.</p> </td> <td></td>
</tr>  <tr> <td> <a href="formview" title="Symfony\Component\Form\FormView">FormView</a> </td> <td> <a href="#method_newView">newView</a>(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $parent = null) <p>Creates a new view instance.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(<a href="formtypeinterface" title="Symfony\Component\Form\FormTypeInterface">FormTypeInterface</a> $innerType, array $typeExtensions = array(), <a href="resolvedformtypeinterface" title="Symfony\Component\Form\ResolvedFormTypeInterface">ResolvedFormTypeInterface</a> $parent = null)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="formtypeinterface" title="Symfony\Component\Form\FormTypeInterface">FormTypeInterface</a></td> <td>$innerType</td> <td></td> </tr> <tr> <td>array</td> <td>$typeExtensions</td> <td></td> </tr> <tr> <td><a href="resolvedformtypeinterface" title="Symfony\Component\Form\ResolvedFormTypeInterface">ResolvedFormTypeInterface</a></td> <td>$parent</td> <td></td> </tr> </table>     <h3 id="method_getBlockPrefix">                      string
    getBlockPrefix()
         </h3>   <p>Returns the prefix of the template block name for this type.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The prefix of the template block name</td> </tr> </table>     <h3 id="method_getParent">                      <a href="resolvedformtypeinterface" title="Symfony\Component\Form\ResolvedFormTypeInterface">ResolvedFormTypeInterface</a>|null
    getParent()
         </h3>   <p>Returns the parent type.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="resolvedformtypeinterface" title="Symfony\Component\Form\ResolvedFormTypeInterface">ResolvedFormTypeInterface</a>|null</td> <td>The parent type or null</td> </tr> </table>     <h3 id="method_getInnerType">                      <a href="formtypeinterface" title="Symfony\Component\Form\FormTypeInterface">FormTypeInterface</a>
    getInnerType()
         </h3>   <p>Returns the wrapped form type.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="formtypeinterface" title="Symfony\Component\Form\FormTypeInterface">FormTypeInterface</a></td> <td>The wrapped form type</td> </tr> </table>     <h3 id="method_getTypeExtensions">                      <a href="formtypeextensioninterface" title="Symfony\Component\Form\FormTypeExtensionInterface">FormTypeExtensionInterface</a>[]
    getTypeExtensions()
         </h3>   <p>Returns the extensions of the wrapped form type.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="formtypeextensioninterface" title="Symfony\Component\Form\FormTypeExtensionInterface">FormTypeExtensionInterface</a>[]</td> <td>An array of {@link FormTypeExtensionInterface} instances</td> </tr> </table>     <h3 id="method_createBuilder">                      <a href="formbuilderinterface" title="Symfony\Component\Form\FormBuilderInterface">FormBuilderInterface</a>
    createBuilder(<a href="formfactoryinterface" title="Symfony\Component\Form\FormFactoryInterface">FormFactoryInterface</a> $factory, string $name, array $options = array())
         </h3>   <p>Creates a new form builder for this type.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="formfactoryinterface" title="Symfony\Component\Form\FormFactoryInterface">FormFactoryInterface</a></td> <td>$factory</td> <td>The form factory</td> </tr> <tr> <td>string</td> <td>$name</td> <td>The name for the builder</td> </tr> <tr> <td>array</td> <td>$options</td> <td>The builder options</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="formbuilderinterface" title="Symfony\Component\Form\FormBuilderInterface">FormBuilderInterface</a></td> <td>The created form builder</td> </tr> </table>     <h3 id="method_createView">                      <a href="formview" title="Symfony\Component\Form\FormView">FormView</a>
    createView(<a href="forminterface" title="Symfony\Component\Form\FormInterface">FormInterface</a> $form, <a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $parent = null)
         </h3>   <p>Creates a new form view for a form of this type.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="forminterface" title="Symfony\Component\Form\FormInterface">FormInterface</a></td> <td>$form</td> <td>The form to create a view for</td> </tr> <tr> <td><a href="formview" title="Symfony\Component\Form\FormView">FormView</a></td> <td>$parent</td> <td>The parent view or null</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="formview" title="Symfony\Component\Form\FormView">FormView</a></td> <td>The created form view</td> </tr> </table>     <h3 id="method_buildForm">                      
    buildForm(<a href="formbuilderinterface" title="Symfony\Component\Form\FormBuilderInterface">FormBuilderInterface</a> $builder, array $options)
         </h3>   <p>Configures a form builder for the type hierarchy.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="formbuilderinterface" title="Symfony\Component\Form\FormBuilderInterface">FormBuilderInterface</a></td> <td>$builder</td> <td>The builder to configure</td> </tr> <tr> <td>array</td> <td>$options</td> <td>The options used for the configuration</td> </tr> </table>     <h3 id="method_buildView">                      
    buildView(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $view, <a href="forminterface" title="Symfony\Component\Form\FormInterface">FormInterface</a> $form, array $options)
         </h3>   <p>Configures a form view for the type hierarchy.</p> <p>This method is called before the children of the view are built.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="formview" title="Symfony\Component\Form\FormView">FormView</a></td> <td>$view</td> <td>The form view to configure</td> </tr> <tr> <td><a href="forminterface" title="Symfony\Component\Form\FormInterface">FormInterface</a></td> <td>$form</td> <td>The form corresponding to the view</td> </tr> <tr> <td>array</td> <td>$options</td> <td>The options used for the configuration</td> </tr> </table>     <h3 id="method_finishView">                      
    finishView(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $view, <a href="forminterface" title="Symfony\Component\Form\FormInterface">FormInterface</a> $form, array $options)
         </h3>   <p>Finishes a form view for the type hierarchy.</p> <p>This method is called after the children of the view have been built.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="formview" title="Symfony\Component\Form\FormView">FormView</a></td> <td>$view</td> <td>The form view to configure</td> </tr> <tr> <td><a href="forminterface" title="Symfony\Component\Form\FormInterface">FormInterface</a></td> <td>$form</td> <td>The form corresponding to the view</td> </tr> <tr> <td>array</td> <td>$options</td> <td>The options used for the configuration</td> </tr> </table>     <h3 id="method_getOptionsResolver">                      <a href="../optionsresolver/optionsresolver" title="Symfony\Component\OptionsResolver\OptionsResolver">OptionsResolver</a>
    getOptionsResolver()
         </h3>   <p>Returns the configured options resolver used for this type.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="../optionsresolver/optionsresolver" title="Symfony\Component\OptionsResolver\OptionsResolver">OptionsResolver</a></td> <td>The options resolver</td> </tr> </table>     <h3 id="method_newBuilder">              protected        <a href="formbuilderinterface" title="Symfony\Component\Form\FormBuilderInterface">FormBuilderInterface</a>
    newBuilder(string $name, string $dataClass, <a href="formfactoryinterface" title="Symfony\Component\Form\FormFactoryInterface">FormFactoryInterface</a> $factory, array $options)
         </h3>   <p>Creates a new builder instance.</p> <p>Override this method if you want to customize the builder class.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$name</td> <td>The name of the builder</td> </tr> <tr> <td>string</td> <td>$dataClass</td> <td>The data class</td> </tr> <tr> <td><a href="formfactoryinterface" title="Symfony\Component\Form\FormFactoryInterface">FormFactoryInterface</a></td> <td>$factory</td> <td>The current form factory</td> </tr> <tr> <td>array</td> <td>$options</td> <td>The builder options</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="formbuilderinterface" title="Symfony\Component\Form\FormBuilderInterface">FormBuilderInterface</a></td> <td>The new builder instance</td> </tr> </table>     <h3 id="method_newView">              protected        <a href="formview" title="Symfony\Component\Form\FormView">FormView</a>
    newView(<a href="formview" title="Symfony\Component\Form\FormView">FormView</a> $parent = null)
         </h3>   <p>Creates a new view instance.</p> <p>Override this method if you want to customize the view class.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="formview" title="Symfony\Component\Form\FormView">FormView</a></td> <td>$parent</td> <td>The parent view, if available</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="formview" title="Symfony\Component\Form\FormView">FormView</a></td> <td>A new view instance</td> </tr> </table>    </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Form/ResolvedFormType.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Form/ResolvedFormType.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
