
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>RouteCollection - Symfony 4.1 - W3cubDocs</title>
  
  <meta name="description" content=" class RouteCollection implements IteratorAggregate, Countable ">
  <meta name="keywords" content="routecollection, symfony, symfony~4.1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/symfony~4.1/symfony/component/routing/routecollection.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-e4ebd3a2a5652ff55173659804c4390a004917f3bdd17b5bb3ba78ea5c9c46fe181cadaac34517ccd815f5bdc982bbfe67179d6f4ac2f084ef2265e2a3dc8dc5.css" integrity="sha512-5OvToqVlL/VRc2WYBMQ5CgBJF/O90Xtbs7p46lycRv4YHK2qw0UXzNgV9b3Jgrv+Zxedb0rC8ITvImXio9yNxQ==" crossorigin="anonymous">
  <script type="text/javascript" integrity="sha512-EpkDeu98lN/jPKijllzVWdRg/dUSSMCaldYZNFz6bcNoBvpWRNz0HSTRQJ3ENmQc5Cuj1zDW1vHd7b0DzpOgyA==" crossorigin="anonymous" src="/assets/application-1299037aef7c94dfe33ca8a3965cd559d460fdd51248c09a95d619345cfa6dc36806fa5644dcf41d24d1409dc436641ce42ba3d730d6d6f1ddedbd03ce93a0c8.js"></script>
  <script src="/json/symfony~4.1.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script data-ad-client="ca-pub-2572770204602497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body>
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">
  
  <form class="_search">
    <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
    <a class="_search-clear"></a>
    <div class="_search-tag"></div>
  </form>
  
  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~4.1/" class="_nav-link" title="" style="margin-left:0;">Symfony 4.1</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _laravel">
				
				
<h1> RouteCollection </h1> <p> class <strong>RouteCollection</strong> implements <a target="_blank" href="http://php.net/IteratorAggregate">IteratorAggregate</a>, <a target="_blank" href="http://php.net/Countable">Countable</a> </p> <div class="description"> <p>A RouteCollection represents a set of Route instances.</p> <p>When adding a route at the end of the collection, an existing route with the same name is removed first. So there can only be one route with a given name.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___clone">__clone</a>()  </td> <td></td>
</tr>  <tr> <td> <a target="_blank" href="http://php.net/ArrayIterator">ArrayIterator</a>|<a href="route" title="Symfony\Component\Routing\Route">Route</a>[] </td> <td> <a href="#method_getIterator">getIterator</a>() <p>Gets the current RouteCollection as an Iterator that includes all routes.</p> </td> <td></td>
</tr>  <tr> <td> int </td> <td> <a href="#method_count">count</a>() <p>Gets the number of Routes in this collection.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_add">add</a>(string $name, <a href="route" title="Symfony\Component\Routing\Route">Route</a> $route) <p>Adds a route.</p> </td> <td></td>
</tr>  <tr> <td> <a href="route" title="Symfony\Component\Routing\Route">Route</a>[] </td> <td> <a href="#method_all">all</a>() <p>Returns all routes in this collection.</p> </td> <td></td>
</tr>  <tr> <td> <a href="route" title="Symfony\Component\Routing\Route">Route</a>|null </td> <td> <a href="#method_get">get</a>(string $name) <p>Gets a route by name.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_remove">remove</a>(string|string[] $name) <p>Removes a route or an array of routes by name from the collection.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addCollection">addCollection</a>(<a href="routecollection" title="Symfony\Component\Routing\RouteCollection">RouteCollection</a> $collection) <p>Adds a route collection at the end of the current set by appending all routes of the added collection.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addPrefix">addPrefix</a>(string $prefix, array $defaults = array(), array $requirements = array()) <p>Adds a prefix to the path of all child routes.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addNamePrefix">addNamePrefix</a>(string $prefix) <p>Adds a prefix to the name of all the routes within in the collection.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setHost">setHost</a>(string $pattern, array $defaults = array(), array $requirements = array()) <p>Sets the host pattern on all routes.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setCondition">setCondition</a>(string $condition) <p>Sets a condition on all routes.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addDefaults">addDefaults</a>(array $defaults) <p>Adds defaults to all routes.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addRequirements">addRequirements</a>(array $requirements) <p>Adds requirements to all routes.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addOptions">addOptions</a>(array $options) <p>Adds options to all routes.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setSchemes">setSchemes</a>(string|string[] $schemes) <p>Sets the schemes (e.g. 'https') all child routes are restricted to.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setMethods">setMethods</a>(string|string[] $methods) <p>Sets the HTTP methods (e.g. 'POST') all child routes are restricted to.</p> </td> <td></td>
</tr>  <tr> <td> <a href="../config/resource/resourceinterface" title="Symfony\Component\Config\Resource\ResourceInterface">ResourceInterface</a>[] </td> <td> <a href="#method_getResources">getResources</a>() <p>Returns an array of resources loaded to build this collection.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addResource">addResource</a>(<a href="../config/resource/resourceinterface" title="Symfony\Component\Config\Resource\ResourceInterface">ResourceInterface</a> $resource) <p>Adds a resource for this collection. If the resource already exists it is not added.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___clone">                      
    __clone()
         </h3>       <h3 id="method_getIterator">                      <a target="_blank" href="http://php.net/ArrayIterator">ArrayIterator</a>|<a href="route" title="Symfony\Component\Routing\Route">Route</a>[]
    getIterator()
         </h3>   <p>Gets the current RouteCollection as an Iterator that includes all routes.</p> <p>It implements \IteratorAggregate.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a target="_blank" href="http://php.net/ArrayIterator">ArrayIterator</a>|<a href="route" title="Symfony\Component\Routing\Route">Route</a>[]</td> <td>An \ArrayIterator object for iterating over routes</td> </tr> </table> <h4>See also</h4> <table class="table table-condensed"> <tr> <td> all() </td> <td></td> </tr> </table>     <h3 id="method_count">                      int
    count()
         </h3>   <p>Gets the number of Routes in this collection.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>int</td> <td>The number of routes</td> </tr> </table>     <h3 id="method_add">                      
    add(string $name, <a href="route" title="Symfony\Component\Routing\Route">Route</a> $route)
         </h3>   <p>Adds a route.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$name</td> <td>The route name</td> </tr> <tr> <td><a href="route" title="Symfony\Component\Routing\Route">Route</a></td> <td>$route</td> <td>A Route instance</td> </tr> </table>     <h3 id="method_all">                      <a href="route" title="Symfony\Component\Routing\Route">Route</a>[]
    all()
         </h3>   <p>Returns all routes in this collection.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="route" title="Symfony\Component\Routing\Route">Route</a>[]</td> <td>An array of routes</td> </tr> </table>     <h3 id="method_get">                      <a href="route" title="Symfony\Component\Routing\Route">Route</a>|null
    get(string $name)
         </h3>   <p>Gets a route by name.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$name</td> <td>The route name</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="route" title="Symfony\Component\Routing\Route">Route</a>|null</td> <td>A Route instance or null when not found</td> </tr> </table>     <h3 id="method_remove">                      
    remove(string|string[] $name)
         </h3>   <p>Removes a route or an array of routes by name from the collection.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|string[]</td> <td>$name</td> <td>The route name or an array of route names</td> </tr> </table>     <h3 id="method_addCollection">                      
    addCollection(<a href="routecollection" title="Symfony\Component\Routing\RouteCollection">RouteCollection</a> $collection)
         </h3>   <p>Adds a route collection at the end of the current set by appending all routes of the added collection.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="routecollection" title="Symfony\Component\Routing\RouteCollection">RouteCollection</a></td> <td>$collection</td> <td></td> </tr> </table>     <h3 id="method_addPrefix">                      
    addPrefix(string $prefix, array $defaults = array(), array $requirements = array())
         </h3>   <p>Adds a prefix to the path of all child routes.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$prefix</td> <td>An optional prefix to add before each pattern of the route collection</td> </tr> <tr> <td>array</td> <td>$defaults</td> <td>An array of default values</td> </tr> <tr> <td>array</td> <td>$requirements</td> <td>An array of requirements</td> </tr> </table>     <h3 id="method_addNamePrefix">                      
    addNamePrefix(string $prefix)
         </h3>   <p>Adds a prefix to the name of all the routes within in the collection.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$prefix</td> <td></td> </tr> </table>     <h3 id="method_setHost">                      
    setHost(string $pattern, array $defaults = array(), array $requirements = array())
         </h3>   <p>Sets the host pattern on all routes.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$pattern</td> <td>The pattern</td> </tr> <tr> <td>array</td> <td>$defaults</td> <td>An array of default values</td> </tr> <tr> <td>array</td> <td>$requirements</td> <td>An array of requirements</td> </tr> </table>     <h3 id="method_setCondition">                      
    setCondition(string $condition)
         </h3>   <p>Sets a condition on all routes.</p> <p>Existing conditions will be overridden.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$condition</td> <td>The condition</td> </tr> </table>     <h3 id="method_addDefaults">                      
    addDefaults(array $defaults)
         </h3>   <p>Adds defaults to all routes.</p> <p>An existing default value under the same name in a route will be overridden.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$defaults</td> <td>An array of default values</td> </tr> </table>     <h3 id="method_addRequirements">                      
    addRequirements(array $requirements)
         </h3>   <p>Adds requirements to all routes.</p> <p>An existing requirement under the same name in a route will be overridden.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$requirements</td> <td>An array of requirements</td> </tr> </table>     <h3 id="method_addOptions">                      
    addOptions(array $options)
         </h3>   <p>Adds options to all routes.</p> <p>An existing option value under the same name in a route will be overridden.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$options</td> <td>An array of options</td> </tr> </table>     <h3 id="method_setSchemes">                      
    setSchemes(string|string[] $schemes)
         </h3>   <p>Sets the schemes (e.g. 'https') all child routes are restricted to.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|string[]</td> <td>$schemes</td> <td>The scheme or an array of schemes</td> </tr> </table>     <h3 id="method_setMethods">                      
    setMethods(string|string[] $methods)
         </h3>   <p>Sets the HTTP methods (e.g. 'POST') all child routes are restricted to.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|string[]</td> <td>$methods</td> <td>The method or an array of methods</td> </tr> </table>     <h3 id="method_getResources">                      <a href="../config/resource/resourceinterface" title="Symfony\Component\Config\Resource\ResourceInterface">ResourceInterface</a>[]
    getResources()
         </h3>   <p>Returns an array of resources loaded to build this collection.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="../config/resource/resourceinterface" title="Symfony\Component\Config\Resource\ResourceInterface">ResourceInterface</a>[]</td> <td>An array of resources</td> </tr> </table>     <h3 id="method_addResource">                      
    addResource(<a href="../config/resource/resourceinterface" title="Symfony\Component\Config\Resource\ResourceInterface">ResourceInterface</a> $resource)
         </h3>   <p>Adds a resource for this collection. If the resource already exists it is not added.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="../config/resource/resourceinterface" title="Symfony\Component\Config\Resource\ResourceInterface">ResourceInterface</a></td> <td>$resource</td> <td></td> </tr> </table>    </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Routing/RouteCollection.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Routing/RouteCollection.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
