
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>RouteCollectionBuilder - Symfony 4.1 - W3cubDocs</title>
  
  <meta name="description" content=" class RouteCollectionBuilder ">
  <meta name="keywords" content="routecollectionbuilder, symfony, symfony~4.1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/symfony~4.1/symfony/component/routing/routecollectionbuilder.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-e498cd0ebe8746846fec95b1a53ab3bb0fb7f47f794f0a38f44c98a1f0d03b21d777ae2c583732e44a5a890f6eacb79a5333545db9d5f3616091ba21ca17d916.css">
  <script src="/assets/application-79c555f6b25481fffac2cac30a7f3e54e608ca09e9e8e42bb1790095ba6d0fcace47d6bc624ddce952c70370892f2d46864f89e6943d4f7f7ff16c8a3231a91a.js" type="text/javascript"></script>
  <script src="/json/symfony~4.1.js"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R3WC07G3GB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-R3WC07G3GB');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2572770204602497"
     crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~4.1/" class="_nav-link" title="" style="margin-left:0;">Symfony 4.1</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _laravel">
				
				
<h1> RouteCollectionBuilder </h1> <p> class <strong>RouteCollectionBuilder</strong> </p> <div class="description"> <p>Helps add and import routes into a RouteCollection.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(<a href="../config/loader/loaderinterface" title="Symfony\Component\Config\Loader\LoaderInterface">LoaderInterface</a> $loader = null)  </td> <td></td>
</tr>  <tr> <td> <a href="routecollectionbuilder" title="Symfony\Component\Routing\RouteCollectionBuilder">RouteCollectionBuilder</a> </td> <td> <a href="#method_import">import</a>(mixed $resource, string|null $prefix = '/', string $type = null) <p>Import an external routing resource and returns the RouteCollectionBuilder.</p> </td> <td></td>
</tr>  <tr> <td> <a href="route" title="Symfony\Component\Routing\Route">Route</a> </td> <td> <a href="#method_add">add</a>(string $path, string $controller, string|null $name = null) <p>Adds a route and returns it for future modification.</p> </td> <td></td>
</tr>  <tr> <td> <a href="routecollectionbuilder" title="Symfony\Component\Routing\RouteCollectionBuilder">RouteCollectionBuilder</a> </td> <td> <a href="#method_createBuilder">createBuilder</a>() <p>Returns a RouteCollectionBuilder that can be configured and then added with mount().</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_mount">mount</a>(string $prefix, <a href="routecollectionbuilder" title="Symfony\Component\Routing\RouteCollectionBuilder">RouteCollectionBuilder</a> $builder) <p>Add a RouteCollectionBuilder.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_addRoute">addRoute</a>(<a href="route" title="Symfony\Component\Routing\Route">Route</a> $route, string|null $name = null) <p>Adds a Route object to the builder.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setHost">setHost</a>(string $pattern) <p>Sets the host on all embedded routes (unless already set).</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setCondition">setCondition</a>(string $condition) <p>Sets a condition on all embedded routes (unless already set).</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setDefault">setDefault</a>(string $key, mixed $value) <p>Sets a default value that will be added to all embedded routes (unless that default value is already set).</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setRequirement">setRequirement</a>(string $key, mixed $regex) <p>Sets a requirement that will be added to all embedded routes (unless that requirement is already set).</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setOption">setOption</a>(string $key, mixed $value) <p>Sets an option that will be added to all embedded routes (unless that option is already set).</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setSchemes">setSchemes</a>(array|string $schemes) <p>Sets the schemes on all embedded routes (unless already set).</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setMethods">setMethods</a>(array|string $methods) <p>Sets the methods on all embedded routes (unless already set).</p> </td> <td></td>
</tr>  <tr> <td> <a href="routecollection" title="Symfony\Component\Routing\RouteCollection">RouteCollection</a> </td> <td> <a href="#method_build">build</a>() <p>Creates the final RouteCollection and returns it.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(<a href="../config/loader/loaderinterface" title="Symfony\Component\Config\Loader\LoaderInterface">LoaderInterface</a> $loader = null)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="../config/loader/loaderinterface" title="Symfony\Component\Config\Loader\LoaderInterface">LoaderInterface</a></td> <td>$loader</td> <td></td> </tr> </table>     <h3 id="method_import">                      <a href="routecollectionbuilder" title="Symfony\Component\Routing\RouteCollectionBuilder">RouteCollectionBuilder</a>
    import(mixed $resource, string|null $prefix = '/', string $type = null)
         </h3>   <p>Import an external routing resource and returns the RouteCollectionBuilder.</p> <p>$routes-&gt;import('blog.yml', '/blog');</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td>$resource</td> <td></td> </tr> <tr> <td>string|null</td> <td>$prefix</td> <td></td> </tr> <tr> <td>string</td> <td>$type</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="routecollectionbuilder" title="Symfony\Component\Routing\RouteCollectionBuilder">RouteCollectionBuilder</a></td> <td></td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a href="../config/exception/fileloaderloadexception" title="Symfony\Component\Config\Exception\FileLoaderLoadException">FileLoaderLoadException</a></td> <td></td> </tr> </table>     <h3 id="method_add">                      <a href="route" title="Symfony\Component\Routing\Route">Route</a>
    add(string $path, string $controller, string|null $name = null)
         </h3>   <p>Adds a route and returns it for future modification.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$path</td> <td>The route path</td> </tr> <tr> <td>string</td> <td>$controller</td> <td>The route's controller</td> </tr> <tr> <td>string|null</td> <td>$name</td> <td>The name to give this route</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="route" title="Symfony\Component\Routing\Route">Route</a></td> <td></td> </tr> </table>     <h3 id="method_createBuilder">                      <a href="routecollectionbuilder" title="Symfony\Component\Routing\RouteCollectionBuilder">RouteCollectionBuilder</a>
    createBuilder()
         </h3>   <p>Returns a RouteCollectionBuilder that can be configured and then added with mount().</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="routecollectionbuilder" title="Symfony\Component\Routing\RouteCollectionBuilder">RouteCollectionBuilder</a></td> <td></td> </tr> </table>     <h3 id="method_mount">                      
    mount(string $prefix, <a href="routecollectionbuilder" title="Symfony\Component\Routing\RouteCollectionBuilder">RouteCollectionBuilder</a> $builder)
         </h3>   <p>Add a RouteCollectionBuilder.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$prefix</td> <td></td> </tr> <tr> <td><a href="routecollectionbuilder" title="Symfony\Component\Routing\RouteCollectionBuilder">RouteCollectionBuilder</a></td> <td>$builder</td> <td></td> </tr> </table>     <h3 id="method_addRoute">                      $this
    addRoute(<a href="route" title="Symfony\Component\Routing\Route">Route</a> $route, string|null $name = null)
         </h3>   <p>Adds a Route object to the builder.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="route" title="Symfony\Component\Routing\Route">Route</a></td> <td>$route</td> <td></td> </tr> <tr> <td>string|null</td> <td>$name</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setHost">                      $this
    setHost(string $pattern)
         </h3>   <p>Sets the host on all embedded routes (unless already set).</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$pattern</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setCondition">                      $this
    setCondition(string $condition)
         </h3>   <p>Sets a condition on all embedded routes (unless already set).</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$condition</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setDefault">                      $this
    setDefault(string $key, mixed $value)
         </h3>   <p>Sets a default value that will be added to all embedded routes (unless that default value is already set).</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$key</td> <td></td> </tr> <tr> <td>mixed</td> <td>$value</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setRequirement">                      $this
    setRequirement(string $key, mixed $regex)
         </h3>   <p>Sets a requirement that will be added to all embedded routes (unless that requirement is already set).</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$key</td> <td></td> </tr> <tr> <td>mixed</td> <td>$regex</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setOption">                      $this
    setOption(string $key, mixed $value)
         </h3>   <p>Sets an option that will be added to all embedded routes (unless that option is already set).</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$key</td> <td></td> </tr> <tr> <td>mixed</td> <td>$value</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setSchemes">                      $this
    setSchemes(array|string $schemes)
         </h3>   <p>Sets the schemes on all embedded routes (unless already set).</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array|string</td> <td>$schemes</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setMethods">                      $this
    setMethods(array|string $methods)
         </h3>   <p>Sets the methods on all embedded routes (unless already set).</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array|string</td> <td>$methods</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_build">                      <a href="routecollection" title="Symfony\Component\Routing\RouteCollection">RouteCollection</a>
    build()
         </h3>   <p>Creates the final RouteCollection and returns it.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="routecollection" title="Symfony\Component\Routing\RouteCollection">RouteCollection</a></td> <td></td> </tr> </table>    </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Routing/RouteCollectionBuilder.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Routing/RouteCollectionBuilder.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
