
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Definition - Symfony 4.1 - W3cubDocs</title>
  
  <meta name="description" content=" class Definition ">
  <meta name="keywords" content="definition, symfony, symfony~4.1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/symfony~4.1/symfony/component/dependencyinjection/definition.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-01fda2ddb8339756caccf7add5ad4cf849ab52d069bd799015c7f04f93164f64753bff0d15a49d8060b1e66e41002bb301ccadc2350937df079cea3cd52d3cca.css">
  <script src="/assets/application-d9be6f56a823612443fc15b2e027a630e02c4ad2685bb750d13fa4fae28d46c3e7f7ebb69bd4bafddf116f218f9372e9be44021d4247dc20424e2fd1ff8cef81.js" type="text/javascript"></script>
  <script src="/json/symfony~4.1.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script data-ad-client="ca-pub-2572770204602497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~4.1/" class="_nav-link" title="" style="margin-left:0;">Symfony 4.1</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _laravel">
				
				
<h1> Definition </h1> <p> class <strong>Definition</strong> </p> <div class="description"> <p>Definition represents a service definition.</p> </div> <h2>Properties</h2> <table class="table table-condensed"> <tr> <td class="type" id="property_arguments"> protected </td> <td>$arguments</td> <td class="last"></td> <td></td> </tr> <tr> <td class="type" id="property_innerServiceId"> </td> <td>$innerServiceId</td> <td class="last"></td> <td></td> </tr> </table> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string|null $class = null, array $arguments = array())  </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_getChanges">getChanges</a>() <p>Returns all changes tracked for the Definition object.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setChanges">setChanges</a>(array $changes) <p>Sets the tracked changes for the Definition object.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setFactory">setFactory</a>(string|array $factory) <p>Sets a factory.</p> </td> <td></td>
</tr>  <tr> <td> string|array|null </td> <td> <a href="#method_getFactory">getFactory</a>() <p>Gets the factory.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setDecoratedService">setDecoratedService</a>(string|null $id, string|null $renamedId = null, int $priority = 0) <p>Sets the service that this service is decorating.</p> </td> <td></td>
</tr>  <tr> <td> array|null </td> <td> <a href="#method_getDecoratedService">getDecoratedService</a>() <p>Gets the service that this service is decorating.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setClass">setClass</a>(string $class) <p>Sets the service class.</p> </td> <td></td>
</tr>  <tr> <td> string|null </td> <td> <a href="#method_getClass">getClass</a>() <p>Gets the service class.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setArguments">setArguments</a>(array $arguments) <p>Sets the arguments to pass to the service constructor/factory method.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setProperties">setProperties</a>(array $properties) <p>Sets the properties to define when creating the service.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_getProperties">getProperties</a>() <p>Gets the properties to define when creating the service.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setProperty">setProperty</a>(string $name, mixed $value) <p>Sets a specific property.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_addArgument">addArgument</a>(mixed $argument) <p>Adds an argument to pass to the service constructor/factory method.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_replaceArgument">replaceArgument</a>(int|string $index, mixed $argument) <p>Replaces a specific argument.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setArgument">setArgument</a>(int|string $key, mixed $value) <p>Sets a specific argument.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_getArguments">getArguments</a>() <p>Gets the arguments to pass to the service constructor/factory method.</p> </td> <td></td>
</tr>  <tr> <td> mixed </td> <td> <a href="#method_getArgument">getArgument</a>(int|string $index) <p>Gets an argument to pass to the service constructor/factory method.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setMethodCalls">setMethodCalls</a>(array $calls = array()) <p>Sets the methods to call after service initialization.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_addMethodCall">addMethodCall</a>(string $method, array $arguments = array()) <p>Adds a method to call after service initialization.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_removeMethodCall">removeMethodCall</a>(string $method) <p>Removes a method to call after service initialization.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_hasMethodCall">hasMethodCall</a>(string $method) <p>Check if the current definition has a given method to call after service initialization.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_getMethodCalls">getMethodCalls</a>() <p>Gets the methods to call after service initialization.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setInstanceofConditionals">setInstanceofConditionals</a>(array $instanceof) <p>Sets the definition templates to conditionally apply on the current definition, keyed by parent interface/class.</p> </td> <td></td>
</tr>  <tr> <td> <a href="childdefinition" title="Symfony\Component\DependencyInjection\ChildDefinition">ChildDefinition</a>[] </td> <td> <a href="#method_getInstanceofConditionals">getInstanceofConditionals</a>() <p>Gets the definition templates to conditionally apply on the current definition, keyed by parent interface/class.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setAutoconfigured">setAutoconfigured</a>(bool $autoconfigured) <p>Sets whether or not instanceof conditionals should be prepended with a global set.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isAutoconfigured">isAutoconfigured</a>()  </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setTags">setTags</a>(array $tags) <p>Sets tags for this definition.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_getTags">getTags</a>() <p>Returns all tags.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_getTag">getTag</a>(string $name) <p>Gets a tag by name.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_addTag">addTag</a>(string $name, array $attributes = array()) <p>Adds a tag for this definition.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_hasTag">hasTag</a>(string $name) <p>Whether this definition has a tag with the given name.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_clearTag">clearTag</a>(string $name) <p>Clears all tags for a given name.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_clearTags">clearTags</a>() <p>Clears the tags for this definition.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setFile">setFile</a>(string $file) <p>Sets a file to require before creating the service.</p> </td> <td></td>
</tr>  <tr> <td> string|null </td> <td> <a href="#method_getFile">getFile</a>() <p>Gets the file to require before creating the service.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setShared">setShared</a>(bool $shared) <p>Sets if the service must be shared or not.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isShared">isShared</a>() <p>Whether this service is shared.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setPublic">setPublic</a>(bool $boolean) <p>Sets the visibility of this service.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isPublic">isPublic</a>() <p>Whether this service is public facing.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setPrivate">setPrivate</a>(bool $boolean) <p>Sets if this service is private.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isPrivate">isPrivate</a>() <p>Whether this service is private.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setLazy">setLazy</a>(bool $lazy) <p>Sets the lazy flag of this service.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isLazy">isLazy</a>() <p>Whether this service is lazy.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setSynthetic">setSynthetic</a>(bool $boolean) <p>Sets whether this definition is synthetic, that is not constructed by the container, but dynamically injected.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isSynthetic">isSynthetic</a>() <p>Whether this definition is synthetic, that is not constructed by the container, but dynamically injected.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setAbstract">setAbstract</a>(bool $boolean) <p>Whether this definition is abstract, that means it merely serves as a template for other definitions.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isAbstract">isAbstract</a>() <p>Whether this definition is abstract, that means it merely serves as a template for other definitions.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setDeprecated">setDeprecated</a>(bool $status = true, string $template = null) <p>Whether this definition is deprecated, that means it should not be called anymore.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isDeprecated">isDeprecated</a>() <p>Whether this definition is deprecated, that means it should not be called anymore.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getDeprecationMessage">getDeprecationMessage</a>(string $id) <p>Message to use if this definition is deprecated.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setConfigurator">setConfigurator</a>(string|array $configurator) <p>Sets a configurator to call after the service is fully initialized.</p> </td> <td></td>
</tr>  <tr> <td> callable|null </td> <td> <a href="#method_getConfigurator">getConfigurator</a>() <p>Gets the configurator to call after the service is fully initialized.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isAutowired">isAutowired</a>() <p>Is the definition autowired?</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setAutowired">setAutowired</a>(bool $autowired) <p>Enables/disables autowiring.</p> </td> <td></td>
</tr>  <tr> <td> array|<a href="argument/boundargument" title="Symfony\Component\DependencyInjection\Argument\BoundArgument">BoundArgument</a>[] </td> <td> <a href="#method_getBindings">getBindings</a>() <p>Gets bindings.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setBindings">setBindings</a>(array $bindings) <p>Sets bindings.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_addError">addError</a>(string $error) <p>Add an error that occurred when building this Definition.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_getErrors">getErrors</a>() <p>Returns any errors that occurred while building this Definition.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string|null $class = null, array $arguments = array())
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|null</td> <td>$class</td> <td>The service class</td> </tr> <tr> <td>array</td> <td>$arguments</td> <td>An array of arguments to pass to the service constructor</td> </tr> </table>     <h3 id="method_getChanges">                      array
    getChanges()
         </h3>   <p>Returns all changes tracked for the Definition object.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>An array of changes for this Definition</td> </tr> </table>     <h3 id="method_setChanges">                      $this
    setChanges(array $changes)
         </h3>   <p>Sets the tracked changes for the Definition object.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$changes</td> <td>An array of changes for this Definition</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setFactory">                      $this
    setFactory(string|array $factory)
         </h3>   <p>Sets a factory.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|array</td> <td>$factory</td> <td>A PHP function or an array containing a class/Reference and a method to call</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_getFactory">                      string|array|null
    getFactory()
         </h3>   <p>Gets the factory.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string|array|null</td> <td>The PHP function or an array containing a class/Reference and a method to call</td> </tr> </table>     <h3 id="method_setDecoratedService">                      $this
    setDecoratedService(string|null $id, string|null $renamedId = null, int $priority = 0)
         </h3>   <p>Sets the service that this service is decorating.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|null</td> <td>$id</td> <td>The decorated service id, use null to remove decoration</td> </tr> <tr> <td>string|null</td> <td>$renamedId</td> <td>The new decorated service id</td> </tr> <tr> <td>int</td> <td>$priority</td> <td>The priority of decoration</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a href="exception/invalidargumentexception" title="Symfony\Component\DependencyInjection\Exception\InvalidArgumentException">InvalidArgumentException</a></td> <td>in case the decorated service id and the new decorated service id are equals</td> </tr> </table>     <h3 id="method_getDecoratedService">                      array|null
    getDecoratedService()
         </h3>   <p>Gets the service that this service is decorating.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array|null</td> <td>An array composed of the decorated service id, the new id for it and the priority of decoration, null if no service is decorated</td> </tr> </table>     <h3 id="method_setClass">                      $this
    setClass(string $class)
         </h3>   <p>Sets the service class.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$class</td> <td>The service class</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_getClass">                      string|null
    getClass()
         </h3>   <p>Gets the service class.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string|null</td> <td>The service class</td> </tr> </table>     <h3 id="method_setArguments">                      $this
    setArguments(array $arguments)
         </h3>   <p>Sets the arguments to pass to the service constructor/factory method.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$arguments</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setProperties">                      $this
    setProperties(array $properties)
         </h3>   <p>Sets the properties to define when creating the service.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$properties</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_getProperties">                      array
    getProperties()
         </h3>   <p>Gets the properties to define when creating the service.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td></td> </tr> </table>     <h3 id="method_setProperty">                      $this
    setProperty(string $name, mixed $value)
         </h3>   <p>Sets a specific property.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$name</td> <td></td> </tr> <tr> <td>mixed</td> <td>$value</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_addArgument">                      $this
    addArgument(mixed $argument)
         </h3>   <p>Adds an argument to pass to the service constructor/factory method.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td>$argument</td> <td>An argument</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_replaceArgument">                      $this
    replaceArgument(int|string $index, mixed $argument)
         </h3>   <p>Replaces a specific argument.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>int|string</td> <td>$index</td> <td></td> </tr> <tr> <td>mixed</td> <td>$argument</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a href="exception/outofboundsexception" title="Symfony\Component\DependencyInjection\Exception\OutOfBoundsException">OutOfBoundsException</a></td> <td>When the replaced argument does not exist</td> </tr> </table>     <h3 id="method_setArgument">                      $this
    setArgument(int|string $key, mixed $value)
         </h3>   <p>Sets a specific argument.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>int|string</td> <td>$key</td> <td></td> </tr> <tr> <td>mixed</td> <td>$value</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_getArguments">                      array
    getArguments()
         </h3>   <p>Gets the arguments to pass to the service constructor/factory method.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>The array of arguments</td> </tr> </table>     <h3 id="method_getArgument">                      mixed
    getArgument(int|string $index)
         </h3>   <p>Gets an argument to pass to the service constructor/factory method.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>int|string</td> <td>$index</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td>The argument value</td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a href="exception/outofboundsexception" title="Symfony\Component\DependencyInjection\Exception\OutOfBoundsException">OutOfBoundsException</a></td> <td>When the argument does not exist</td> </tr> </table>     <h3 id="method_setMethodCalls">                      $this
    setMethodCalls(array $calls = array())
         </h3>   <p>Sets the methods to call after service initialization.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$calls</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_addMethodCall">                      $this
    addMethodCall(string $method, array $arguments = array())
         </h3>   <p>Adds a method to call after service initialization.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$method</td> <td>The method name to call</td> </tr> <tr> <td>array</td> <td>$arguments</td> <td>An array of arguments to pass to the method call</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a href="exception/invalidargumentexception" title="Symfony\Component\DependencyInjection\Exception\InvalidArgumentException">InvalidArgumentException</a></td> <td>on empty $method param</td> </tr> </table>     <h3 id="method_removeMethodCall">                      $this
    removeMethodCall(string $method)
         </h3>   <p>Removes a method to call after service initialization.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$method</td> <td>The method name to remove</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_hasMethodCall">                      bool
    hasMethodCall(string $method)
         </h3>   <p>Check if the current definition has a given method to call after service initialization.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$method</td> <td>The method name to search for</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_getMethodCalls">                      array
    getMethodCalls()
         </h3>   <p>Gets the methods to call after service initialization.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>An array of method calls</td> </tr> </table>     <h3 id="method_setInstanceofConditionals">                      $this
    setInstanceofConditionals(array $instanceof)
         </h3>   <p>Sets the definition templates to conditionally apply on the current definition, keyed by parent interface/class.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$instanceof</td> <td>ChildDefinition[]</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_getInstanceofConditionals">                      <a href="childdefinition" title="Symfony\Component\DependencyInjection\ChildDefinition">ChildDefinition</a>[]
    getInstanceofConditionals()
         </h3>   <p>Gets the definition templates to conditionally apply on the current definition, keyed by parent interface/class.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="childdefinition" title="Symfony\Component\DependencyInjection\ChildDefinition">ChildDefinition</a>[]</td> <td></td> </tr> </table>     <h3 id="method_setAutoconfigured">                      $this
    setAutoconfigured(bool $autoconfigured)
         </h3>   <p>Sets whether or not instanceof conditionals should be prepended with a global set.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$autoconfigured</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_isAutoconfigured">                      bool
    isAutoconfigured()
         </h3>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_setTags">                      $this
    setTags(array $tags)
         </h3>   <p>Sets tags for this definition.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$tags</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_getTags">                      array
    getTags()
         </h3>   <p>Returns all tags.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>An array of tags</td> </tr> </table>     <h3 id="method_getTag">                      array
    getTag(string $name)
         </h3>   <p>Gets a tag by name.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$name</td> <td>The tag name</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>An array of attributes</td> </tr> </table>     <h3 id="method_addTag">                      $this
    addTag(string $name, array $attributes = array())
         </h3>   <p>Adds a tag for this definition.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$name</td> <td>The tag name</td> </tr> <tr> <td>array</td> <td>$attributes</td> <td>An array of attributes</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_hasTag">                      bool
    hasTag(string $name)
         </h3>   <p>Whether this definition has a tag with the given name.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$name</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_clearTag">                      $this
    clearTag(string $name)
         </h3>   <p>Clears all tags for a given name.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$name</td> <td>The tag name</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_clearTags">                      $this
    clearTags()
         </h3>   <p>Clears the tags for this definition.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setFile">                      $this
    setFile(string $file)
         </h3>   <p>Sets a file to require before creating the service.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$file</td> <td>A full pathname to include</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_getFile">                      string|null
    getFile()
         </h3>   <p>Gets the file to require before creating the service.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string|null</td> <td>The full pathname to include</td> </tr> </table>     <h3 id="method_setShared">                      $this
    setShared(bool $shared)
         </h3>   <p>Sets if the service must be shared or not.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$shared</td> <td>Whether the service must be shared or not</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_isShared">                      bool
    isShared()
         </h3>   <p>Whether this service is shared.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_setPublic">                      $this
    setPublic(bool $boolean)
         </h3>   <p>Sets the visibility of this service.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$boolean</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_isPublic">                      bool
    isPublic()
         </h3>   <p>Whether this service is public facing.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_setPrivate">                      $this
    setPrivate(bool $boolean)
         </h3>   <p>Sets if this service is private.</p> <p>When set, the "private" state has a higher precedence than "public". In version 3.4, a "private" service always remains publicly accessible, but triggers a deprecation notice when accessed from the container, so that the service can be made really private in 4.0.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$boolean</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_isPrivate">                      bool
    isPrivate()
         </h3>   <p>Whether this service is private.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_setLazy">                      $this
    setLazy(bool $lazy)
         </h3>   <p>Sets the lazy flag of this service.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$lazy</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_isLazy">                      bool
    isLazy()
         </h3>   <p>Whether this service is lazy.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_setSynthetic">                      $this
    setSynthetic(bool $boolean)
         </h3>   <p>Sets whether this definition is synthetic, that is not constructed by the container, but dynamically injected.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$boolean</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_isSynthetic">                      bool
    isSynthetic()
         </h3>   <p>Whether this definition is synthetic, that is not constructed by the container, but dynamically injected.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_setAbstract">                      $this
    setAbstract(bool $boolean)
         </h3>   <p>Whether this definition is abstract, that means it merely serves as a template for other definitions.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$boolean</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_isAbstract">                      bool
    isAbstract()
         </h3>   <p>Whether this definition is abstract, that means it merely serves as a template for other definitions.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_setDeprecated">                      $this
    setDeprecated(bool $status = true, string $template = null)
         </h3>   <p>Whether this definition is deprecated, that means it should not be called anymore.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$status</td> <td></td> </tr> <tr> <td>string</td> <td>$template</td> <td>Template message to use if the definition is deprecated</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a href="exception/invalidargumentexception" title="Symfony\Component\DependencyInjection\Exception\InvalidArgumentException">InvalidArgumentException</a></td> <td>when the message template is invalid</td> </tr> </table>     <h3 id="method_isDeprecated">                      bool
    isDeprecated()
         </h3>   <p>Whether this definition is deprecated, that means it should not be called anymore.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_getDeprecationMessage">                      string
    getDeprecationMessage(string $id)
         </h3>   <p>Message to use if this definition is deprecated.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$id</td> <td>Service id relying on this definition</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td></td> </tr> </table>     <h3 id="method_setConfigurator">                      $this
    setConfigurator(string|array $configurator)
         </h3>   <p>Sets a configurator to call after the service is fully initialized.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|array</td> <td>$configurator</td> <td>A PHP callable</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_getConfigurator">                      callable|null
    getConfigurator()
         </h3>   <p>Gets the configurator to call after the service is fully initialized.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>callable|null</td> <td>The PHP callable to call</td> </tr> </table>     <h3 id="method_isAutowired">                      bool
    isAutowired()
         </h3>   <p>Is the definition autowired?</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_setAutowired">                      $this
    setAutowired(bool $autowired)
         </h3>   <p>Enables/disables autowiring.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$autowired</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_getBindings">                      array|<a href="argument/boundargument" title="Symfony\Component\DependencyInjection\Argument\BoundArgument">BoundArgument</a>[]
    getBindings()
         </h3>   <p>Gets bindings.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array|<a href="argument/boundargument" title="Symfony\Component\DependencyInjection\Argument\BoundArgument">BoundArgument</a>[]</td> <td></td> </tr> </table>     <h3 id="method_setBindings">                      $this
    setBindings(array $bindings)
         </h3>   <p>Sets bindings.</p> <p>Bindings map $named or FQCN arguments to values that should be injected in the matching parameters (of the constructor, of methods called and of controller actions).</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$bindings</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_addError">                      $this
    addError(string $error)
         </h3>   <p>Add an error that occurred when building this Definition.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$error</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_getErrors">                      array
    getErrors()
         </h3>   <p>Returns any errors that occurred while building this Definition.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td></td> </tr> </table>    </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/Definition.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/Definition.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
