
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>StyleInterface - Symfony 4.1 - W3cubDocs</title>
  
  <meta name="description" content=" interface StyleInterface ">
  <meta name="keywords" content="styleinterface, symfony, symfony~4.1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/symfony~4.1/symfony/component/console/style/styleinterface.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-01fda2ddb8339756caccf7add5ad4cf849ab52d069bd799015c7f04f93164f64753bff0d15a49d8060b1e66e41002bb301ccadc2350937df079cea3cd52d3cca.css">
  <script src="/assets/application-d9be6f56a823612443fc15b2e027a630e02c4ad2685bb750d13fa4fae28d46c3e7f7ebb69bd4bafddf116f218f9372e9be44021d4247dc20424e2fd1ff8cef81.js" type="text/javascript"></script>
  <script src="/json/symfony~4.1.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script data-ad-client="ca-pub-2572770204602497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~4.1/" class="_nav-link" title="" style="margin-left:0;">Symfony 4.1</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div class="_page _laravel">
				
				
<h1> StyleInterface </h1> <p> interface <strong>StyleInterface</strong> </p> <div class="description"> <p>Output style helpers.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method_title">title</a>(string $message) <p>Formats a command title.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_section">section</a>(string $message) <p>Formats a section title.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_listing">listing</a>(array $elements) <p>Formats a list.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_text">text</a>(string|array $message) <p>Formats informational text.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_success">success</a>(string|array $message) <p>Formats a success result bar.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_error">error</a>(string|array $message) <p>Formats an error result bar.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_warning">warning</a>(string|array $message) <p>Formats an warning result bar.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_note">note</a>(string|array $message) <p>Formats a note admonition.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_caution">caution</a>(string|array $message) <p>Formats a caution admonition.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_table">table</a>(array $headers, array $rows) <p>Formats a table.</p> </td> <td></td>
</tr>  <tr> <td> mixed </td> <td> <a href="#method_ask">ask</a>(string $question, string|null $default = null, callable|null $validator = null) <p>Asks a question.</p> </td> <td></td>
</tr>  <tr> <td> mixed </td> <td> <a href="#method_askHidden">askHidden</a>(string $question, callable|null $validator = null) <p>Asks a question with the user input hidden.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_confirm">confirm</a>(string $question, bool $default = true) <p>Asks for confirmation.</p> </td> <td></td>
</tr>  <tr> <td> mixed </td> <td> <a href="#method_choice">choice</a>(string $question, array $choices, string|int|null $default = null) <p>Asks a choice question.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_newLine">newLine</a>(int $count = 1) <p>Add newline(s).</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_progressStart">progressStart</a>(int $max = 0) <p>Starts the progress output.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_progressAdvance">progressAdvance</a>(int $step = 1) <p>Advances the progress output X steps.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_progressFinish">progressFinish</a>() <p>Finishes the progress output.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_title">                      
    title(string $message)
         </h3>   <p>Formats a command title.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$message</td> <td></td> </tr> </table>     <h3 id="method_section">                      
    section(string $message)
         </h3>   <p>Formats a section title.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$message</td> <td></td> </tr> </table>     <h3 id="method_listing">                      
    listing(array $elements)
         </h3>   <p>Formats a list.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$elements</td> <td></td> </tr> </table>     <h3 id="method_text">                      
    text(string|array $message)
         </h3>   <p>Formats informational text.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|array</td> <td>$message</td> <td></td> </tr> </table>     <h3 id="method_success">                      
    success(string|array $message)
         </h3>   <p>Formats a success result bar.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|array</td> <td>$message</td> <td></td> </tr> </table>     <h3 id="method_error">                      
    error(string|array $message)
         </h3>   <p>Formats an error result bar.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|array</td> <td>$message</td> <td></td> </tr> </table>     <h3 id="method_warning">                      
    warning(string|array $message)
         </h3>   <p>Formats an warning result bar.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|array</td> <td>$message</td> <td></td> </tr> </table>     <h3 id="method_note">                      
    note(string|array $message)
         </h3>   <p>Formats a note admonition.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|array</td> <td>$message</td> <td></td> </tr> </table>     <h3 id="method_caution">                      
    caution(string|array $message)
         </h3>   <p>Formats a caution admonition.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string|array</td> <td>$message</td> <td></td> </tr> </table>     <h3 id="method_table">                      
    table(array $headers, array $rows)
         </h3>   <p>Formats a table.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$headers</td> <td></td> </tr> <tr> <td>array</td> <td>$rows</td> <td></td> </tr> </table>     <h3 id="method_ask">                      mixed
    ask(string $question, string|null $default = null, callable|null $validator = null)
         </h3>   <p>Asks a question.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$question</td> <td></td> </tr> <tr> <td>string|null</td> <td>$default</td> <td></td> </tr> <tr> <td>callable|null</td> <td>$validator</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td></td> </tr> </table>     <h3 id="method_askHidden">                      mixed
    askHidden(string $question, callable|null $validator = null)
         </h3>   <p>Asks a question with the user input hidden.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$question</td> <td></td> </tr> <tr> <td>callable|null</td> <td>$validator</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td></td> </tr> </table>     <h3 id="method_confirm">                      bool
    confirm(string $question, bool $default = true)
         </h3>   <p>Asks for confirmation.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$question</td> <td></td> </tr> <tr> <td>bool</td> <td>$default</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_choice">                      mixed
    choice(string $question, array $choices, string|int|null $default = null)
         </h3>   <p>Asks a choice question.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$question</td> <td></td> </tr> <tr> <td>array</td> <td>$choices</td> <td></td> </tr> <tr> <td>string|int|null</td> <td>$default</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td></td> </tr> </table>     <h3 id="method_newLine">                      
    newLine(int $count = 1)
         </h3>   <p>Add newline(s).</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>int</td> <td>$count</td> <td>The number of newlines</td> </tr> </table>     <h3 id="method_progressStart">                      
    progressStart(int $max = 0)
         </h3>   <p>Starts the progress output.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>int</td> <td>$max</td> <td>Maximum steps (0 if unknown)</td> </tr> </table>     <h3 id="method_progressAdvance">                      
    progressAdvance(int $step = 1)
         </h3>   <p>Advances the progress output X steps.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>int</td> <td>$step</td> <td>Number of steps to advance</td> </tr> </table>     <h3 id="method_progressFinish">                      
    progressFinish()
         </h3>   <p>Finishes the progress output.</p>      </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Console/Style/StyleInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Console/Style/StyleInterface.html</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
